
// card w/ shadows style for "popped" look.
// 9/10/18
// - converted to using maps
// google-style card
// v1.0.0--8-28-17
// 1/23/18 — label { ... } changed to & > label {} — nested labels had too many spaces

$cards_: (
  width-max: $width-magic,
  color: usetheme(black, $colors_),
  color-bg: usetheme(whiter, $colors_),
  color-bg-light: usetheme(ui-lighter, $context_),
  color-border: usetheme(ui-light, $context_),
  color-border-light: usetheme(ui-light, $context_),
  radius: $radius,
  // padding: 0,
  margin: $size,
) !default;
// padding: apply to content blocks instead; so imgs can be full width

// convenience; allows card-settings to be replaced by something else
$settings: $cards_;

// $card-width-max: $width-magic !default;
// $card-color: $color-black !default;
// $card-color-bg: $color-whiter !default;
// $card-radius: $radius !default;


%card-shadow {
  box-shadow: usetheme(raised, $shadows_);
}

._card {
  color: usetheme(color, $settings);
  background-color: usetheme(color-bg, $settings);
  border-radius: usetheme(radius, $settings);
  padding: usetheme(padding, $settings);
  margin-bottom: usetheme(margin, $settings);
  width: 100%; //$card-width;
  // border: 1px solid $color-silver; // adds more visibility but needs to be tested

  & > label {
    padding-bottom: $size-base/2;
  }

  @extend %card-shadow;

  &.--inline {
    // use w/ flexbox or other containers that can't take width: 100%
    width: auto;
  }
  &.--max-width {
    max-width: usetheme(width-max, $settings);
  }

  // transparent card / only organizational
  &.--transparent {
    padding: 0;
    box-shadow: none;
  }

  &.--simple, &.--flat {
    box-shadow: none;
    border: usetheme(color-border, $settings) $border-line solid;
    // padding: $size-base $size-base*2;
  }

  &.--light {
    box-shadow: usetheme(edge, $shadows_);
    // border: usetheme(color-border, $settings) $border-line solid;
    background-color: usetheme(color-bg-lighter, $settings);
    // padding: $size-base $size-base*2;
  }

  &.--clickable {
    @extend ._shadow-raised-dark;
    @extend %ease;

    &:hover {
      @extend %ease;
      @extend ._shadow-light;
      box-shadow: none;
      @include transform(scale(0.99, 0.99))
    }
  }
}



// move this somewhere else?

  // ._card-fun-item {
  //   background-size: cover;
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   @extend %ease;
  //   cursor: pointer;
  //   // border: $border-line solid $color-ui-light;
  //   // border-radius: $radius;
  //   height: 200px;
  //   @extend ._align-bottom;
  //   background-color: $color-ui-light;
  //   padding: $size-base;

  //   box-shadow: 0 $size-base*1.4 $size-base*3 rgba(0,0,0,0.45);

  //   span {
  //     color: $color-black;// !important;
  //     display: inline-block;
  //     padding: $size-base/3; // padding-bottom: 0;
  //     background-color: rgba($color-whiter, 0.4);
  //     @extend %ease-slow;
  //   }


  //   ._card-fun-title {
  //     font-size: $size-1;
  //   }
  //   ._card-fun--tags {
  //     @extend %font-small;
  //     padding-bottom: $size-base/2;
  //   }

  //   &:nth-child(2n+1) {
  //     @include screen-sm {
  //       position: relative;
  //       top: -$size-base*2
  //     }
  //   }

  //   @include screen-xs-only {
  //     margin-bottom: $size-base*2;
  //     background-position: right;
  //     background-size: contain;
  //     background-color: $color-purewhite;
  //   }

  //   &:hover {
  //     // background-size:
  //     -webkit-transform: scale(0.98,0.98);
  //     transform: scale(0.98,0.98);
  //     box-shadow: 0px 0px 14px 0px rgba(175, 170, 170, 0.28);
  //     @extend %ease;

  //     span {
  //       &:first-child {
  //         // padding-bottom: 4px;
  //         @extend %ease-fast;
  //       }

  //       // background-color: rgba($color-black, 0.8);
  //       // color: $color-purewhite;
  //       @extend %ease-slow;
  //     }
  //   }
  // }


  