

// moved into head-colors

// $color-teal:        #43DDE6;
// $color-pink:        #FA5486;


// $color-phage-pink:  $color-pink;          ._color-phage-pink { color: $color-phage-pink }     ._color-bg-phage-pink { background-color: $color-phage-pink; }         ._color-border-phage-pink { border-color: $color-phage-pink; }
// $color-phage-teal:  $color-teal;          ._color-phage-teal { color: $color-phage-teal }     ._color-bg-phage-teal { background-color: $color-phage-teal; }         ._color-border-phage-teal { border-color: $color-phage-teal; }
// $color-phage-light: #F0F0F0;              ._color-phage-light { color: $color-phage-light }   ._color-bg-phage-light { background-color: $color-phage-light; }       ._color-border-phage-light { border-color: $color-phage-light; }
// $color-phage-dark:  #374F6A;              ._color-phage-dark { color: $color-phage-dark }     ._color-bg-phage-dark { background-color: $color-phage-dark; }         ._color-border-phage-dark { border-color: $color-phage-dark; }

// $color-main:        $color-teal;          ._color-main { color: $color-main }                 ._color-bg-main { background-color: $color-main; }                     ._color-border-main { border-color: $color-main; }
// $color-secondary:   $color-pink;          ._color-secondary { color: $color-secondary }       ._color-bg-secondary { background-color: $color-secondary; }           ._color-border-secondary { border-color: $color-secondary; }

// $color-hover: $color-main;                ._color-hover { color: $color-hover }               ._color-bg-hover { background-color: $color-hover; }                   ._color-border-hover { border-color: $color-hover; }
// $color-active: $color-secondary;          ._color-active { color: $color-active; }            ._color-bg-active { background-color: $color-active; }                 ._color-border-active { border-color: $color-active; }
// $color-inactive: $color-phage-light;      ._color-inactive { color: $color-inactive; }        ._color-bg-inactive { background-color: $color-inactive; }             ._color-border-inactive { border-color: $color-inactive; }



// // link colors
// $link-color-hover: red; // $color-hover;
// $link-color-active: red; 
// $color-active: red;