

$tab-color-active: $color-secondary;
$directory-border: $border-line $color-ui solid;
$directory-color-hover: $color-ui-light;
$directory-color-lighter: $color-gray-lightest;
$directory-font-smaller: $font-base - 2; // $font-size-base; // m1;
$directory-lineheight-smaller: $directory-font-smaller * 1.8; // $font-size-base; // m1;
$directory-gap: $size-base;
$directory-font-larger: $size-larger;

.directory {
  padding-top: $size-base;
  border: $directory-border;
  border-radius: $radius;
  margin: $size-base;

  & > .content {
    margin-top: 0;
  }
}

.directory-intro {
  br {
    @include screen-xs {
      display: none;
    }
  }
}
.directory-nav {
  margin: 0;

  // tabs buttons
  ._tabs-item {
    margin-right: $size-half;
    border-radius: $radius;
    margin-bottom: 0;

    &.--active {
      color: $tab-color-active;
      border-color: $tab-color-active;
    }

    @include screen-xs {
      width: 100%; 
      display: block;
      margin-bottom: $size-half;
    }
  }
}

.directory-list {
  // min-height: 40vh;
}

.directory-item {
  @extend %ease;

  padding-top: $size-2;
  padding-bottom: $size-2;

  padding-left: $size-base;
  padding-right: $size-base;

  // better as standard color; hover makes no sense
  background-color: $directory-color-hover;

  @include screen-xs {
    padding: $size-base;
  }

  &:hover {
    // background-color: $directory-color-hover;
    // @extend %ease;
  }

  border-top: $directory-border;
  &:last-child {
    // border-bottom: $directory-border;
  }
}
  .directory-item-container {
    // @extend ._width-content-max;
    @extend ._center-margin;
    @extend ._width-content-paragraph;
    display: grid;
    grid-gap: $size-base*2;
    align-items: start;

    @include screen-xs {
      display: block;
      // grid-template-columns: 1fr;
      // grid-gap: $size-half;
    }
  }


// left side of a directory item
.directory-index {
  display: grid;
  grid-gap: $directory-gap;

  @include screen-xs {
    margin-bottom: $size-base;
    grid-gap: 0; //$directory-gap/2;
  }
}





// 
// reusable components
// 

.directory-name {
  font-size: $font-h4;
  @extend %font-bold;
  line-height: $font-h4 * 1.4;
  padding-bottom: $size-base/4;
}

.directory-title-label {
  color: $color-silver;
  padding-bottom: $size-base/4;
}


.directory-person {
  display: grid;
  grid-template-columns: 50px auto;
  grid-gap: $size-base;
  margin-bottom: $size-base;
}
  .directory-img {
    img {
      border-radius: 100px;
      width: $size-p4;
      vertical-align: middle;
      display: inline-block;
      // margin-right: $size-half;
    }
  }
  .directory-person-details {
    font-size: $directory-font-smaller;
    line-height: $directory-font-smaller*1.5;
    .directory-person-name {
      font-size: $directory-font-larger;
      line-height: $directory-font-larger*1.4;
    }
    a {
      border: 0;
    }
  }


.directory-card {
  padding: $size-base;
  border-radius: $radius;
  background-color: $color-white;
  margin-bottom: $size-base;
}
  .directory-card-title-container {
    padding-bottom: $size-half;
    // margin-bottom: $size-base;
    &:after {
      border-bottom: $border-line solid $color-ui-light;
      display: block;
      content: ' ';
      width: $size-2;
      padding-bottom: $size-base/2
      // margin-bottom: $size-base;
    }
  }
  .directory-card-title-main {
    font-weight: $font-bold;
  }
  .directory-card-title {
    // font-weight: $font-bold;
    // font-size: $font-h5;
  }
  .directory-card-section-title {
    margin-bottom: $size-half;
  }
  .directory-card-content {
    display: grid;
  }

  .directory-card-subject {
    font-size: $directory-font-larger;
    margin-bottom: $size-half;
  }
  .directory-card-list {
    padding-left: $size-base;
    border-left: $directory-border;
    border-color: $color-main;
  }
  .directory-card-section {
    margin-bottom: $size-base;
  }











// 
//  section-specific; keep these to a minimum
// 

// person directory
.person {
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;

  // left side
  .person-profile {
    grid-template-columns: 60px auto;
    @include screen-xs {
      grid-template-columns: 80px auto;
      grid-gap: $size-base;
      justify-content: start;
    }
  }

  .person-img {
    // text-align: center;
    img {
      border-radius: $radius-xl;
      display: inline-block;
      width: $size-p6;
      height: auto;
    }
  }

  // col 2
  .person-info {
    justify-items: start;
    // padding-left: $size-p2;

    @include screen-xs {
      padding-left: 0; // $size-base;
    }
  }
    .person-social {
      font-size: $size-m1;

      @include screen-xs {
      }

      a {
        line-height: $size-m1;
        border: 0;
        color: $directory-color-lighter;
        &:hover {
          color: $color-hover;
        }
      }
    }

  // col 3
  .person-phages {

    @include screen-xs {
      // grid-row: 2;
      grid-column: 1 / 3;
      justify-items: middle;
    }
  }
    .person-phagelist {
      display: grid;
      grid-gap: $size-base;
      // grid-template-columns: 1fr 1fr; // repeat(auto-fill, minmax(200px, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
      .person-phage {
        padding-bottom: $size-half;
      }
      .person-phage-name {
        font-weight: $font-bold;
        padding-right: $size-base/4;
      }
      .person-phage-hosts {
      }
      .person-phage-host {
        line-height: $directory-lineheight-smaller;
        font-size: $size-larger;
      }
      .person-phage-org {
        font-size: $directory-font-smaller;
        line-height: $directory-lineheight-smaller;
        color: $directory-color-lighter;
        margin-top: $size-base/4;
        padding-bottom: $size-half;
      }
}



// org directory
.org {
  grid-template-columns: 1fr 3fr;

  .directory-card-content {
    grid-template-columns: 2fr 2fr;

    @include screen-xs {
      display: block;
      & > div:first-child {
        margin-bottom: $size-base;
      }
    }
  }
}




// host directory

.host {
  grid-template-columns: 1fr 3fr;

  // @include screen-xs {
  //   grid-template-columns: 1fr;
  //   grid-gap: $size-half;
  // }
}



