


$hex-color: $color-main;
$hex-color-border: $color-phage-dark;

// 30px hex
.hex_container {
  display: inline-block;
  vertical-align: top;
  margin-right: $size-base/2;

  $rot: -15deg;
  -webkit-transform: rotate($rot);
  -ms-transform: rotate($rot);
  transform: rotate($rot);
}

.hex {
  display: inline-block;
  position: relative;
  width: 30px; 
  height: 17.32px;
  background-color: $color-main;
  margin: 8.66px 0;
  border-left: solid 2px $hex-color-border;
  border-right: solid 2px $hex-color-border;
}

.hex:before,
.hex:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 21.21px;
  height: 21.21px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 2.3934px;
}

.hex:before {
  top: -10.6066px;
  border-top: solid 2.8284px $hex-color-border;
  border-right: solid 2.8284px $hex-color-border;
}

.hex:after {
  bottom: -10.6066px;
  border-bottom: solid 2.8284px $hex-color-border;
  border-left: solid 2.8284px $hex-color-border;
}




.hex-90 {
  display: inline-block;
  position: relative;
  width: 90px; 
  height: 51.96px;
  background-color: $hex-color;
  margin: 25.98px 0;
  border-left: solid 4px $hex-color-border;
  border-right: solid 4px $hex-color-border;
}

.hex-90:before,
.hex-90:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 63.64px;
  height: 63.64px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 9.1802px;
}

.hex-90:before {
  top: -31.8198px;
  border-top: solid 5.6569px $hex-color-border;
  border-right: solid 5.6569px $hex-color-border;
}

.hex-90:after {
  bottom: -31.8198px;
  border-bottom: solid 5.6569px $hex-color-border;
  border-left: solid 5.6569px $hex-color-border;
}


