



.media-list {
  // only show a few unless turned on
  // @include screen-xs {
    &:not(.media-show-all) a:nth-child(n+4) {
      // display: none;
      &, * { // prettier animations
        height: 0;
        visibility: transparent;
        overflow: hidden;
        padding: 0;
        margin: 0;
      }
    }
  // }
}

.media-item {
  border: 0; 
  display: inline-block;
  padding-bottom: $size-half;
  @extend %ease;

  &:hover {
    @extend %ease;
    @include screen-sm {
      // padding-left: $size-m4;
    }
  }

  display: grid;
  grid-template-columns: 60px auto auto;
}

.media-title {
  display: inline-block;
  // padding-right: $size-half;
}
.media-source {
  display: inline-block;
  color: $color-ui-dark;
  font-size: $size-m2;
  text-align: right;
  padding-left: $size-m2;
}
.media-date {
  // padding-right: $size-half;
  display: inline-block;
  color: $color-ui-dark;
  font-size: $size-m2;
}


// button to show all
.media-all {
  cursor: pointer; 

  // .media-all-cta {
    @extend ._font-small;
    color: $color-black;
    border: 0;
    margin-top: $size-base;
    &:hover {
      color: $color-hover;
    }
  // }
}





