
<div class="about_nav">
  <a href="about.html" class="_margin-right <%= '--active' if name=='background' %>">Background</a>
  <a href="us.html" class="<%= '--active' if name=='us' %>">Behind the Scenes</a>
</div>