

<% source = current_page.data.source || "" %>


<div class="section _grid-1-5" >

<h6 class="" >— alerts</h6>

<div class="alerts" >

<div class="alerts-signup">
  <div class="alerts-form-container">
    <form 
      class="alerts-form" 
      action="https://tinyletter.com/phagedirectory" 
      method="post" target="popupwindow" 
      onsubmit="window.open('https://tinyletter.com/phagedirectory', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"
    >
      <label for="tlemail" class=" _v-middle _inline-block _padding-right-half _padding-bottom-none-i"> 
        <span class="_font-bold">Sign up for phage alerts:</span>
        <div  class="alerts-note _font-small ">Phages, not spam. <!-- <br/><a href="https://tinyletter.com" target="_blank">TinyLetter</a> --></div>
      </label> 
      <input type="text" name="email" id="tlemail" 
             class="_form-input --short --phage _inline _margin-right-none-i"
             placeholder="email@address.com" required/>
      <input type="hidden" value="1" name="embed"/>
      <input class="alerts-cta _inline _button --phage --outline --short _margin-none-i" type="submit" value="Sign Up" />
      <!-- <div class="alerts-note _right _font-small _padding-top-half">Only to be used for phage requests, not spam. <a href="https://tinyletter.com" target="_blank">TinyLetter</a></div> -->
    </form>
  </div>
 
  <div class="alerts-request _font-small" markdown="1">
  Make a new phage request at [staff@phage.directory](mailto:staff@phage.directory) or [@phagedirectory](http://twitter.com/phagedirectory)
  </div>

</div>

         

<!-- Request new alerts through [staff@phagedirectory](mailto:staff@phagedirectory) or by tagging us on twitter @phagedirectory, and will be sent both through a small mailing list and our twitter account. -->

</div>

</div>

