
<div class="directory-item person">
  <div class="person-img">
    <img src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg">
  </div>
  <div class="person-info">
    <div class="person-name">Jessica Sacher</div>
    <div class="person-affiliation">University of Alberta</div>
    <div class="">PhD Candidate</div> 
    <div class="person-social">
      <div class="person-twitter"><a target="_blank" href="https://twitter.com/jessicasacher">@jessicasacher</a></div>
      <!-- <div class="person-url">some http</div> -->
      <div class="person-scholar"><a target="_blank" href="https://scholar.google.com/citations?user=r3PIVU8AAAAJ&hl=en">Google Scholar</a></div>
      <div class="person-researchgate"><a target="_blank" href="https://www.researchgate.net/profile/Jessica_Sacher">ResearchGate</a></div>
      <div class="person-orcid"><a target="_blank" href="http://orcid.org/0000-0003-0297-9550">orcid</a></div>
    </div>
  </div>
  <div class="person-phages">
    <h6 class="person-phage-title">Phages / Hosts</h6>
    <div class="person-phagelist">
      <div class="person-phage">
        <div class="person-phage-org">University of Georgia, CCRC</div>
        <div class="person-phage-host">Campylobacter jejuni</div>
        <div class="person-phage-host">Campylobacter 2</div>
        <div class="person-phage-host">Campylobacter 2</div>
      </div>
      <div class="person-phage">
        <div class="person-phage-org">University of Georgia, CCRC</div>
        <div class="person-phage-host">Campylobacter jejuni</div>
        <div class="person-phage-host">Campylobacter 2</div>
        <div class="person-phage-host">Campylobacter 2</div>
      </div>
    </div>
  </div>
</div>