
<div class="directory-item ">
  <div class="org directory-item-container ">
    <div class="directory-index">
      <h6 class="directory-title-label">Organization</h6>
      <div class="directory-name">University of Georgia</div>
      <div class="directory-location">Athens, GA</div>
    </div>

    <div class="org-labs directory-details">
      <h6 class="directory-title-label">Labs</h6>

      <div class="org-lab directory-card">
        <div class="directory-card-title-container">
          <!-- <h6 class="directory-title-label">Lab</h6> -->
          <div class="org-lab-name directory-card-title ">
            Complex Carbohydrate Research Center (CCRC)
          </div>
        </div>

        <div class="directory-card-content">

          <div class="org-hosts">
            <h6 class="directory-title-label">Host Bacteria</h6>

            <div class="org-hosts-list">
              <div class="org-host directory-card-subject">Campylobacter jejuni</div>
            </div>
          </div>

          <div class="org-people">
            <h6 class="directory-title-label">Contacts</h6>

            <div class="org-people-list">
              <div class="org-person directory-person">
                <div class="org-person-img directory-img"><img src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg"/></div>
                <div class="org-person-details directory-person-details">
                  <div class="directory-person-name">Jessica Sacher</div>
                  <div class="directory-person-org">University of Alberta</div>
                  <div class="directory-person-role">PhD Candidate</div>
                  <div class="directory-person-contact">
                    <span class="directory-person-twitter"><a href="http://twitter.com/jessicasacher">@jessicasacher</a></span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        
      </div>

    </div>


  </div>
</div>