

<!-- profile data -->
<script src="/data-profiles.js"></script>
<!-- institution data -->
<script src="/data-organizations.js"></script>
<!-- data scrobbler / main data js -->
<script src="/data-loader.js"></script>

<% source = current_page.data.source || "" %>

<div class="directory" >

<div class="content" markdown="1">
<div class="_grid-cols-2-xs _padding-bottom _align-vertically" >

  <h3>Directory</h3>
  <!-- <span class="_right">
    <a href="https://goo.gl/forms/rKTYgG42c0LrPYcH2" 
       target="_blank" 
       class="_block _v-text_top _right _button --phage --outline --short _margin-none-i">
    Join the Fight
    </a>
  </span> -->
</div>

<div class="directory-intro _width-content-max-narrow _padding-bottom _padding-left-none-i">
The following individuals and organizations have agreed to join <br /> the fight against drug-resistant bacterial infections. <a class="--phage" href="#">Join the fight.</a>
</div>

<div class="directory-nav _tabs">
  <button class="_tabs-item --short --outline --active" data-tab='tabPeople'>People</button>
  <button class="_tabs-item --short --outline" data-tab='tabOrgs'>Organizations</button>
  <button class="_tabs-item --short --outline" data-tab='tabHosts'>Host Bacteria</button>
  <!-- <button class="_tabs-item --short --outline" data-tab='tabPhages'>Phages</button> -->
</div>
</div>

<div class="directory-list">

  <div class="tabPeople _tabs-content --selected">
    <!-- generate the data in data-loader -->

    <!-- for testing  -->
    <%= partial '/partials/directory_person' %>


  </div>

  <div class="tabOrgs _tabs-content">
    <!-- generate the data in data-loader -->

    <%= partial '/partials/directory_org' %>

  </div>

  <div class="tabHosts _tabs-content">
    <!-- generate the data in data-loader -->
    
    <%= partial '/partials/directory_host' %>

  </div>

</div>


<!-- tab code -->
<script>
  $('._tabs-item').on('click', function() {
    let target = $(this).data("tab") || $(this).prop("hash").substr(1);
    // set nav
    $('._tabs-item').removeClass('--active');
    $(this).addClass('--active');

    // set content
    $('._tabs-content').removeClass('--selected');
    $('._tabs-content.' +target).addClass('--selected');

  });
</script>


