
<div class="directory-item ">
  <div class="directory-item-container host">
    <div class="host-info">
      <div class="host-info-core">
        <h6 class="directory-title-label">Target Host</h6>
        <div class="directory-name">Campylobacter jejuni</div>
      </div>
    </div>
    <div class="host-orgs">
      <h6 class="directory-title-label">Labs</h6>
      <div class="host-orglist">
        <div class="host-org">
          <div class="host-org-name">
            University of Georgia CCRC, Athens, GA
          </div>
          <div class="host-org-person">
            <div class="host-org-person-img"><img src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg"/></div>
            <div class="host-org-person-info">
              <div class="host-org-person-info-core">
                <span class="host-org-person-name">Jessica Sacher</span> — 
                <span class="host-org-person-org">University of Alberta</span>
                <span class="host-org-person-role">PhD Candidate</span>
              </div>
              <div class="host-org-person-info-contact">
                <span class="host-org-person-twitter"><a href="http://twitter.com/jessicasacher">@jessicasacher</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>