
<!-- <div class="directory-item">
  <%= partial '/partials/bethefirst' %>
</div> -->

<div class="directory-item-list host-list" >
  <div class="directory-item">
    <%= partial '/partials/bethefirst' %>
  </div>
</div>


<div class="_hidden">
<!-- <div> -->

<div class="directory-item host-template" id="template-host">
  <div class="host directory-item-wrapper ">
    <div class="directory-index">
      <div class="host-name directory-name"></div>
    </div>

    <div class="host-orgs directory-details">
      <div class="host-org " id="template-org">
        <div class="directory-card-title-container ">
          <div class="directory-organization directory-card-title ">
          </div>
        </div>
        <div class="host-org-labs">
          <div class="host-org-lab">
            <!-- <div class="host-org-lab-name directory-card-section-title directory-card-title-main ">
              Complex Carbohydrate Research Center (CCRC)
            </div> -->
            <div class="host-org-lab-people directory-card-list">
              <div class="host-org-lab-people-list">
                <div class="host-org-lab-person directory-person">
                  <div class="host-org-lab-person-img directory-img"><img src=""/></div>
                  <div class="host-org-lab-person-details directory-person-details">
                    <div>
                      <div class="directory-person-name "></div>
                      <!-- <div class="directory-person-org">University of Alberta</div> -->
                      <div class="directory-person-contact">
                        <span class="person-twitter person-twitter"><a href=""></a></span>
                      </div>
                      <div class="person-social">
                        <div class="person-scholar"><a target="_blank" href=""></a></div>
                        <div class="person-researchgate"><a target="_blank" href=""></a></div>
                        <div class="person-orcid"><a target="_blank" href=""></a></div>
                      </div>
                    </div>
                    <div>
                      <div class="person-role"></div>
                      <div class="person-org-pi org-pi"></div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

</div>

<!-- 
<div class="directory-item ">
  <div class="host directory-item-wrapper ">
    <div class="directory-index">
      <div class="directory-name">Campylobacter jejuni</div>
    </div>

    <div class="host-orgs directory-details">
      <div class="host-org directory-card">
        <div class="directory-card-title-container">
          <div class="org-lab-name directory-card-title ">
            University of Alberta, University of Georgia
          </div>
        </div>
        <div class="host-org-labs">
          <div class="host-org-lab">
            <div class="host-org-lab-people directory-list">
              <div class="host-org-lab-people-list">
                <div class="host-org-lab-person directory-person">
                  <div class="host-org-lab-person-img directory-img"><img src=""/></div>
                  <div class="host-org-lab-person-details directory-person-details">
                    <div>
                      <div class="directory-person-name ">Jessica Sacher</div>
                      <div class="directory-person-contact">
                        <span class="directory-person-twitter person-twitter"><a href="http://twitter.com/jessicasacher">@jessicasacher</a></span>
                      </div>
                      <div class="person-social">
                        <div class="person-scholar"><a target="_blank" href=""></a></div>
                        <div class="person-researchgate"><a target="_blank" href=""></a></div>
                        <div class="person-orcid"><a target="_blank" href=""></a></div>
                      </div>
                    </div>
                    <div>
                      <div class="directory-person-role">PhD Candidate</div>
                      <div class="directory-person-org-pi">Dr. Christine Szymanski</div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
 -->

