
<div class="directory-item template-host">

  <%= partial '/partials/bethefirst' %>

</div>
<!-- 
<div class="directory-item ">
  <div class="host directory-item-wrapper ">
    <div class="directory-index">
      <h6 class="directory-title-label">Host Bacteria</h6>
      <div class="directory-name">Campylobacter jejuni</div>
    </div>

    <div class="host-orgs directory-details">
      <h6 class="directory-title-label">Organizations</h6>

      <div class="host-org directory-card">
        <div class="directory-card-title-container">
          <div class="org-lab-name directory-card-title ">
            University of Georgia
          </div>
        </div>
        <div class="directory-card-content">
          <div class="host-org-labs">
            <div class="host-org-lab directory-card-section">
              <div class="host-org-lab-name directory-card-section-title directory-card-title-main ">
                Complex Carbohydrate Research Center (CCRC)
              </div>

              <div class="host-org-lab-people directory-card-list">
                <div class="host-org-lab-people-list">
                  <div class="host-org-lab-person directory-person">
                    <div class="host-org-lab-person-img directory-img"><img src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg"/></div>
                    <div class="host-org-lab-person-details directory-person-details">
                      <div class="directory-person-name">Jessica Sacher</div>
                      <div class="directory-person-org">University of Alberta</div>
                      <div class="directory-person-role">PhD Candidate</div>
                      <div class="directory-person-contact">
                        <span class="directory-person-twitter"><a href="http://twitter.com/jessicasacher">@jessicasacher</a></span>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

