
<div class="directory-item ">
  <div class="directory-item-container org">
    <div class="org-info">
      <div class="org-info-core">
        <!-- <h6 class="directory-title-label">Organization</h6> -->
        <div class="directory-name">University of Georgia</div>
        <div class="directory-location">Athens, GA</div>
      </div>
    </div>
    <div class="org-labs">
      <div class="org-lab">
        <div class="org-lab-title">
          <!-- <h6 class="directory-title-label">Lab</h6> -->
          <div class="org-lab-name">
            Complex Carbohydrate Research Center (CCRC)
          </div>
        </div>
        <div class="org-lab-content">

          <div class="org-lab-content-hosts">
            <h6 class="directory-title-label">Host Bacteria</h6>
            <div class="org-lab-content-host">Campylobacter jejuni</div>
          </div>

          <div class="org-lab-content-people">
            <h6 class="directory-title-label">Contacts</h6>

            <div class="org-lab-content-person">
              <div class="org-person-info">
                <div class="org-person-img directory-img"><img src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg"/></div>
                <div class="org-person-info-core">
                  <div class="org-person-name">Jessica Sacher</div>
                  <div class="org-person-org">University of Alberta</div>
                  <div class="org-person-role">PhD Candidate</div>
                  <div class="org-person-info-contact">
                    <span class="org-person-twitter"><a href="http://twitter.com/jessicasacher">@jessicasacher</a></span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>