
<!-- placeholder or loader -->

<div class="directory-item-list person-list">
  <div class="directory-item">
    <%= partial '/partials/bethefirst' %>
  </div>
</div>

<!-- for js to read and render -->
<div class="_hidden">

<!-- <div class="directory-item _vh-30 _align-vertically _center"> -->
  <!-- <%= partial '/partials/bethefirst' %> -->
<!-- </div> -->
<div class="directory-item person-template" id="template-person">
  <div class="person directory-item-wrapper ">
    <div class="directory-index">
      <div class="person-profile">
        <div class="person-img">
          <img src="">
        </div>
        <div class="person-info">
          <div class="person-info-core">
            <div class="person-name"></div>
            <div class="person-role"></div> 
            <div class="person-twitter"><a target="_blank" href=""></a></div>
            <!-- <div class="person-organization"></div> -->
          </div>
          <div class="person-social">
            <div class="person-scholar"><a target="_blank" href=""></a></div>
            <div class="person-researchgate"><a target="_blank" href=""></a></div>
            <div class="person-orcid"><a target="_blank" href=""></a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="person-orgs directory-details">
      <!-- <div class="person-org directory-card"> -->
      <div class="person-org">
        <div class="directory-card-title-container">
          <div class="org-name directory-card-title">
          </div>
          <div class="org-pi person-org-pi">
          </div>
        </div>

        <div class="directory-card-content">
          <div class="person-org-labs">

            <div class="person-org-lab">
              <!-- <div class="person-org-lab-name directory-card-section-title directory-card-title-main ">
                Complex Carbohydrate Research Center (CCRC)
              </div> -->
              <div class="person-org-lab-host-list
              directory-hosts directory-card-list">
                <!-- .directory-host will be inserted here w/ js -->
                <div class="person-org-lab-host 
                  directory-host directory-card-subject" id="template-host"></div>

              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
    <div class="directory-item-notes _hidden"></div>
  </div>
</div>

</div>


<!-- template / placeholder
<div class="directory-item ">
  <div class="person directory-item-wrapper ">
    <div class="directory-index">
      <div class="person-profile">
        <div class="person-img">
          <img src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg">
        </div>
        <div class="person-info">
          <div class="person-info-core">
            <div class="directory-name">Jessica Sacher</div>
            <div class="person-organization">University of Alberta</div>
            <div class="">PhD Candidate</div> 
          </div>
          <div class="person-social">
            <div class="person-twitter"><a target="_blank" href="https://twitter.com/jessicasacher">@jessicasacher</a></div>
            <div class="person-scholar"><a target="_blank" href="https://scholar.google.com/citations?user=r3PIVU8AAAAJ&hl=en">Google Scholar</a></div>
            <div class="person-researchgate"><a target="_blank" href="https://www.researchgate.net/profile/Jessica_Sacher">ResearchGate</a></div>
            <div class="person-orcid"><a target="_blank" href="http://orcid.org/0000-0003-0297-9550">orcid</a></div>
          </div>
        </div>
      </div>
    </div>

    <div class="person-orgs directory-details">
      <h6 class="directory-title-label">Organizations</h6>

      <div class="person-org directory-card">
        <div class="directory-card-title-container">
          <div class="org-name directory-card-title">
            University of Georgia
          </div>
        </div>

        <div class="directory-card-content">
          <div class="person-org-labs">

            <div class="person-org-lab">
              <div class="person-org-lab-name directory-card-section-title directory-card-title-main ">
                Complex Carbohydrate Research Center (CCRC)
              </div>
              <div class="person-org-lab-hosts-list directory-card-list">
                <div class="person-org-lab-host directory-card-subject">Campylobacter jejuni</div>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>
</div>
 -->

