
<!-- <footer class="_footer-secondary _panel _container">
  <div>
    Sub Menu
  </div>
</footer>
 -->

<div class="_center-margin _width-content-max-paragraph" markdown="1">
<footer class="_footer _center-margin _padding-2">
  <div class="_grid-2-1 _align-vertically _font-small">
    <div>
      the phage directory. MIT license
    </div>
    <div class="_right">
      <a href="mailto:staff@phage.directory" target="_blank">staff@phage.directory</a> | 
      <a href="https://github.com/janzheng/phagedirectory" target="_blank">github</a>
    </div>
  </div>
</footer>