
<!-- <footer class="_footer-secondary _panel _container">
  <div>
    Sub Menu
  </div>
</footer>
 -->

<footer class="_footer">

  <div class="content _margin-top-none-i _margin-bottom-none-i _padding-top _padding-bottom" markdown="1">
  <div class="_grid-gap-none _grid-cols-2 _align-vertically">
    <div>
      <strong>Phage</strong> Directory
    </div>
    <div class="_right-sm">
      <a href="mailto:staff@phage.directory" target="_blank">staff@phage.directory</a> | 
      <a href="https://twitter.com/phagedirectory" target="_blank">@phagedirectory</a> |
      <a href="https://github.com/janzheng/phagedirectory" target="_blank">Github</a>
    </div>
  </div>

</footer>