
<div class="header _grid-2-1 _align-vertically">
  <div class="_center-xs">
    <a class="" href="/">
      <span class="hex_container "><span class="hex _v-top"></span></span>
      <span class="logotype">The <span>Phage</span> Directory</span>
    </a>
  </div>
  <div class="_right-sm _center-xs">
    <a class="" target="_blank" href="https://goo.gl/forms/rKTYgG42c0LrPYcH2">Join the Fight</a>
    <!-- <a class="" href="/about.html"><%= partial '/partials/phage' %> About</a> -->
    <a class="" href="/about.html">About Us</a>
  </div>
</div>