
<div class="header _grid-cols-2 _align-vertically">
  <div class="">
    <a class="" href="/">
      <span class="hex_container "><span class="hex _v-top"></span></span>
      <span class="logotype">The <span>Phage</span> Directory</span>
    </a>
  </div>
  <div class="_right">
    <a class="" href="/about.html">About</a>
  </div>
</div>