
<div class="media-list">

  <a  class="media-item"
      target="_blank"
      href="https://www.bloomberg.com/news/articles/2017-11-14/turning-to-a-discarded-remedy-to-defeat-superbugs-quicktake-q-a/" >
    <span class="media-date">Nov 2017</span>
    <div class="media-title">
      Turning to a Discarded Remedy to Defeat Superbugs
    </div>
    <div class="media-source">
      Bloomberg
    </div>
  </a>


  <a  class="media-item"
      target="_blank"
      href="https://www.statnews.com/2017/11/10/superbug-phage-mallory-smith/" >
    <span class="media-date">Nov 2017</span>
    <div class="media-title">
      To save a young woman besieged by superbugs, scientists hunt a killer virus
    </div>
    <div class="media-source">
      Stat News
    </div>
  </a>


  <a  class="media-item"
      target="_blank"
      href="https://www.reuters.com/article/us-health-farming-drug-resistance/fears-mount-over-killer-superbugs-but-simple-steps-on-farms-can-help-idUSKBN1DE125" >
    <span class="media-date">Nov 2017</span>
    <div class="media-title">
      Fears mount over killer superbugs, but simple steps on farms can help
    </div>
    <div class="media-source">
      Reuters
    </div>
  </a>


  <a  class="media-item"
      target="_blank"
      href="https://www.thequint.com/fit/story-of-a-superbug-overuse-of-antibiotics/" >
    <span class="media-date">Nov 2017</span>
    <div class="media-title">
      Story of a Superbug: How Antibiotic Overuse Created a Monster
    </div>
    <div class="media-source">
      The Quint
    </div>
  </a>

  <a  class="media-item"
      target="_blank"
      href="http://metro.co.uk/2017/11/06/superbugs-are-going-to-wipe-us-out-before-climate-change-does-expert-warns-7057369/" >
    <span class="media-date">Nov 2017</span>
    <div class="media-title">
      Superbugs ‘are going to wipe us out before climate change does,’ expert warns
    </div>
    <div class="media-source">
      metro.co.uk 
    </div>
  </a>

  <a  class="media-item"
      target="_blank"
      href="https://www.youtube.com/watch?v=AbAZU8FqzX4/" >
    <span class="media-date">Oct 2017</span>
    <div class="media-title">
      How Sewage Saved My Husband's Life from a Superbug | Steffanie Strathdee | TEDxNashville
    </div>
    <div class="media-source">
      TEDx Nashville 
    </div>
  </a>

  <a  class="media-item"
      target="_blank"
      href="https://www.washingtonpost.com/national/health-science/scientists-are-dusting-off-a-long-forgotten-weapon-to-cope-with-modern-bacteria/2017/06/30/3476ced0-4aeb-11e7-9669-250d0b15f83b_story.html" >
    <span class="media-date">Jul 2017</span>
    <div class="media-title">
      Scientists are dusting off a long-forgotten weapon to cope with modern bacteria
    </div>
    <div class="media-source">
      Washington Post 
    </div>
  </a>


  <a  class="media-item"
      target="_blank"
      href="https://arstechnica.com/science/2015/12/medicalizing-viruses-that-attack-bacteria/" >
    <span class="media-date">Dec 2015</span>
    <div class="media-title">
      Medicalizing viruses that attack bacteria
    </div>
    <div class="media-source">
      Ars Technica 
    </div>
  </a>


  <a  class="media-item"
      target="_blank"
      href="https://www.buzzfeed.com/azeenghorayshi/mail-order-viruses-are-the-new-antibiotics" >
    <span class="media-date">Feb 2015</span>
    <div class="media-title">
      Mail-Order Viruses Are The New Antibiotics
    </div>
    <div class="media-source">
      Buzzfeed 
    </div>
  </a>



  







</div>