


@import '/components/blog';
@import '/components/sidenav';






.Policy {
  background: $color-phdir;
  color: $color-gray;
  border-radius: $radius;

  padding: $size-base;
  margin-bottom: $size-base;

  // position: fixed;
  position: sticky;
  left: $size-base;
  z-index: $z-popup;
  bottom: $size-half;
  width: calc(100% - #{$size-2});
}

.Note {
  background: $color-main;
  padding: $size-base;
}









._content {
  padding: 0;
  margin-top: $size-2;
}



._tag {
  font-size: $size-m1;
  padding: 4px $size-half;
  background-color: $color-ui-light;
  border-radius: $radius-sm;
  margin-right: $size-half;
}

// logo deets
.logo-sm {
  // padding-right: $size-half;
  width: 80px;
  // height: 100%;
  vertical-align: middle;
  padding-bottom: $size-half;
}


._button.--yellow {
  background-color: $color-main;
  color: $color-secondary;
  font-weight: bold;
  &:hover {
    background-color: darken($color-main, 0.3);
    color: $color-secondary;
  }
}



.phagedirectory-logo--sm {
  width: 45px;
  // height: 100%;
  vertical-align: middle;
  padding-bottom: 4px;
  padding-right: $size-half;
}
.phagedirectory {
  span {
    font-weight: 700;
  }
}



