


@import '/components/blog';
@import '/components/sidenav';
@import '/components/directory';



.Policy {
  background: $color-phdir;
  color: $color-gray;
  border-radius: $radius;

  padding: $size-base;
  margin-bottom: $size-base;

  // position: fixed;
  position: sticky;
  left: $size-base;
  z-index: $z-popup;
  bottom: $size-half;
  width: calc(100% - #{$size-2});

  .Policy-btn {
    &:hover {
      background-color: $color-links;
    }
  }
}

.Note {
  background: $color-main;
  padding: $size-base;
}









._content {
  padding: 0;
  margin-top: $size-2;
}



// ._tag {
//   font-size: $size-1;
//   padding: 4px $size-half;
//   background-color: $color-ui-light;
//   border-radius: $radius-sm;
//   margin-right: $size-half;
// }

// logo deets
.logo-sm {
  // padding-right: $size-half;
  width: 80px;
  // height: 100%;
  vertical-align: middle;
  padding-bottom: $size-half;
}


._button.--yellow {
  background-color: $color-main;
  color: $color-secondary;
  font-weight: bold;
  &:hover {
    background-color: darken($color-main, 0.3);
    color: $color-secondary;
  }
}



.phagedirectory-logo--sm {
  width: 45px;
  // height: 100%;
  vertical-align: middle;
  padding-bottom: 4px;
  padding-right: $size-half;
}
.phagedirectory {
  span {
    font-weight: 700;
  }
}

// input {
//   &:focus {
//     @extend %focus-pink;
//     background-color: transparent; // $color-white !important;
//   }
// }




// Button Components
// (reusable)

.Directory-btn {
  font-weight: 600;
  text-decoration: none; // <a>s might have underlines
  &._button {
    &:hover {
      background-color: $color-links;
      border-color: $color-links;
      color: $color-bg;
    }
  }

  &._button.--outline {
    &:hover {
      background-color: inherit;
      border-color: $color-links;
      color: $color-links;
    }
  }

  &._button.--active,
  &._button.nuxt-link-exact-active,
  ._button.nuxt-link-active {
    &, &:hover {
      background-color: inherit;
      border-color: $color-links;
      color: $color-links;
    }
  }
}




// Special Classes / 'Objects'
// can be found / reused throughout, as special components

._OrganismName { // formatting of an organism name e.g. Escherichia coli or E. coli
  font-style: italic !important;
}


// dynamic form
.Form {
  .Form-btn {
    &:hover {
      background-color: $color-links;
      color: $color-bg;
      border-color: $color-links;
    }
    &:active, &:focus {
      background-color: $color-links;
      color: $color-bg;
      border-color: $color-gray;
    }
  }

  // broken in coeur
  ._form-checkbox {
    input:focus {
      & + span {
        // border-color: $color-links;

        border-bottom: $border-thin solid $color-links;
      }
    }
  }
}



.Twitter {
  width: 100%;
  max-width: 100%;
  overflow: scroll;
  .Twitter-timeline,
  #twitter-widget-0 {
    // max-width: $width-xs-max !important;
    // width: 100% !important;
  }
}





.Formlet {
  h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  ._form-control {
    margin-bottom: $size-2;
  }
  ._form-label {
    &, p {
      font-size: $font-large;
    }
  }
  ._form-desc {
    &, p {
      font-size: $font-small;
    }
  }
}



// embedded links to artices, videos, etc.

.Outlink {
  padding: $size;
  margin-bottom: $size;
  background-color: $color-ui-light;
  border-radius: $radius;

  &.--article {
    @extend ._grid-2-1;

    .Outlink-title {
      @extend h5;
    }
    .Outlink-desc {
      margin-bottom: $size-half;
    }
    .Outlink-source {
      // @extend ._tag;
      font-size: $font-small;
    }
    .Outlink-image {
      width: 100%;
    }


  }
}



