


@import '/sections/alerts';




// can't believe these actually work
// .😍 {
//   background-color: pink !important;
// }
// .♥ {
//   background-color: green;
// }

// article wraps all the content
article,
.container {
  background-color: $color-bg;
  position: relative;
}

section {
  padding-left: $size-2;
  padding-right: $size-2;
}

.Header {
  a {
    font-size: $font-large;
    // font-size: $size-larger;
    text-decoration: none;
  }
  .nuxt-link-exact-active {
    @extend %links-bg;
    @extend %font-bold;
  }
  .Header-orgs.nuxt-link-active {
    @extend %links-bg;
    @extend %font-bold;
  }
}

.Footer {
  background-color: $color-secondary;
  color: $color-bg;
  a {
    text-decoration: none;
    color: $color-bg;
    border: 0;
    &:hover {
      color: $color-phdir;
    }
  }
  .nuxt-link-exact-active {
    @extend %links-bg;
    @extend %font-bold;
  }
  .Footer-right,
  .Footer-top {
    margin-right: $size-p8;
  }

}





.About-profile {
  &._card {
    &:hover {
      background-color: inherit;
    }
    .profile-name {
      font-size: $font-large;
      line-height: $font-larger + 4px;
      padding-bottom: $size-half;
    }
    .profile-image img {
      border-radius: $radius;
    }
  }
}




