


@import '/sections/alerts';
@import '/sections/jobs';




// can't believe these actually work
// .😍 {
//   background-color: pink !important;
// }
// .♥ {
//   background-color: green;
// }

// article wraps all the content
article,
.container {
  background-color: $color-bg;
  position: relative;

  // @include screen-xs {
  //   padding-left: $size-base;
  //   padding-right: $size-base;
  // }
}

section {
  // padding-left: $size-2;
  // padding-right: $size-2;
  // @include screen-xs {
  //   padding-left: $size-base;
  //   padding-right: $size-base;
  // }
  padding-top: $size-3;
  padding-bottom: $size-3;
}

section.copy {
  a {
    text-decoration: underline;
    text-decoration-color: $color-links;
    &:hover {
      color: $color-links;
    }
  }
}

section.narrow {
  // @extend ._width-content-magic;
  @extend ._width-content-paragraph;
  // @include screen-xs {
  //   padding-left: 0;
  //   padding-right: 0;
  // }
  &.--left {
    margin-left: 0;
    padding-left: 0;
  }
}
section.max {
  @extend %width-content-max;
}

article.narrow {
  @extend ._width-content-magic;
  margin-left: 0;
  padding-left: 0;
}

// narrow, text-friendly widths
// this doesn't have the padding constraints
.narrow {
  max-width: $width-magic;
}

// block of contextually separate content
.block {
  margin-top: $size-base;
  margin-bottom: $size-2;
}


blockquote {
  &, p {
    border-color: $color-tertiary;
    font-size: $font-large;
    line-height: $font-large-lineheight;
    @extend %font-serif;
    font-style: italic;
    @extend .--antialias;
  }
  .source {
    @extend %font-serif;
    color: $color-gray;
    font-size: $font-small;
  }
}



.Header {

  .Header-content {
    @include screen-sm {
      // @include gridAutoCols(2);
    }
  }

  a {
    @include screen-sm {
      font-size: $font-large;
    }
    // font-size: $size-larger;
    text-decoration: none;
  }
  .nuxt-link-exact-active {
    @extend %links-bg;
    @extend %font-bold;
  }
  .Header-orgs.nuxt-link-active {
    @extend %links-bg;
    @extend %font-bold;
  }
  .Header-search {
    border: $border-thin solid $color-ui-light;
    border-radius: $radius;
    @extend %ease;
    &:hover {
      border-color: $color-tertiary;
    }
    &:focus {
      border: $border-thin solid $color-tertiary;
      padding: $size-half $size-base;
      @extend %ease;
    }
  }
  .Header-join {
    background-color: $color-tertiary;
    color: $color-bg;
    // color: $color-black;
    font-weight: bold;
    &:hover {
      // border-color: $color-tertiary;
      border-color: $color-main;
      background-color: $color-main;
    }

    @include screen-xs {
      padding-right: $size-half;
      padding-left: $size-half;
    }
  }

  .Header-inset {
    background-color: $color-silver-light;
    margin-left: $size;
    margin-right: $size;
    border-radius: $radius;
    padding-top: $size-half;
    padding-bottom: $size-half;
  }
}


// for alerts and mailchimp
// custom breakpoint
.Signup-container {
  padding-top: $size-2;
  padding-bottom: $size-2;
  background-color: $color-silver-light;

  .Signup-content {
    $width-signup: 996px;
    // margin-left: auto;
    margin-right: auto;

    // @media (max-width: $width-signup) {
    //   display: block;

    //   .Mailchimp {
    //     max-width: 100% !important;
    //     margin-bottom: $size;
    //   }
    // }
  }
}

.Footer {
  background-color: $color-secondary;
  color: $color-bg;

  @include screen-xs {
    margin-bottom: $size-8;
    // to make room for driftt
  }

  span {
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: $color-bg;
    border: 0;
    &:hover {
      color: $color-phdir;
    }
  }
  .nuxt-link-exact-active, 
  .nuxt-link-active {
    @extend %links-bg;
    @extend %font-bold;
  }
  .Footer-right,
  .Footer-top {
    margin-right: $size-8;
  }
  .Footer-logo {
    max-width: 180px; 
  }

}



// Outline and framework for all Pages
// Not all pages have these
.Page-header {
  margin-bottom: $size-2;
}




.About-profile {
  &._card {
    &:hover {
      background-color: inherit;
    }
    .profile-name {
      font-size: $font-large;
      line-height: $font-larger + 4px;
      padding-bottom: $size-half;
    }
    .profile-image img {
      border-radius: $radius;
    }
  }
}




.Join {
  .Join-grid {
    position: relative;
  }
  .Join-cta {
    // position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 0;
  }
}




