

@import 'settings.scss';




%md-sans_serif {
  // fixing markdown
  &, *, p {
    @extend %font-sans;
    // font-size: 15px;
    // line-height: 22px;
  }
}

body {
  background-color: $color-gray;
}

h1 {
  line-height: $font-h1 * 1.0;
  padding-bottom: $size-base;
}

h2 {
  // font-size: $size-2;
  line-height: $font-h2 * 1.2;
  // padding-top:0;
  // padding-bottom: 0;
}

h3 {
  font-size: $size-2;
  line-height: $size-3;
  // padding-top:0;
  // padding-bottom: 0;
}


.logo-link {
  &:after {
    content: none !important;
  }
}



%links-bg,
._links-bg {
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    left: $offset; bottom: -2px;
    height: $offset/2;
    background: $color-main;
    padding: $offset;

    width: 100%;
    z-index: -1;

    // clip-path: polygon(0% 20%, 80% 0%, 100% 0, 100% 100%, 0 100%);
  }
}



.title {
  padding-bottom: $size-base;
}
.subtitle {
  &, p {
    font-size: $size-1;
    line-height: $size-2;
    @extend %font-serif;
  }
}



// links
a {
  text-decoration: underline;
  text-decoration-color: $color-links;
  border: 0;
  position: relative;
  // color: $color-green;
  // @extend ._pointer-no_events;
  // @extend %ease-fast;
  &:hover {
    color: $color-links;
  }
}




p {
  // font-size: $font-size-base;
  // line-height: $font-lineheight;
  @extend %md-sans_serif;

  padding-left: 0;
  // @extend %font-serif;

  a {
    font-weight: 700;
    &+a {
    }
  }
}


._md--margin-none {
  p {
    margin: 0;
  }
}


@import 'components';
@import 'sections';



// temporary stuff
.Home-container {
  // max-width: $width-site-min;
  // text
}



/*  VOM JOIN FORM */

.Join-options {

  &.--one {
    @extend ._width-content-magic;
    margin: 0 auto;
  }
  &.--two {
    @extend ._grid-2;
  }
  &.--three {
    @extend ._grid-3;
  }
}




