




@import 'settings.scss';

$font-size-base: 18px;
$font-lineheight: 28px;



%md-sans_serif {
  // fixing markdown
  &, *, p {
    @extend %font-sans;
    font-size: 15px;
    line-height: 22px;
  }
}

body {

}

h1 {
  line-height: $font-h1 * 1.3;
}

h2 {
  // font-size: $size-p2;
  line-height: $font-h2 * 1.2;
  // padding-top:0;
  // padding-bottom: 0;
}

h3 {
  font-size: $size-p2;
  line-height: $size-p4;
  // padding-top:0;
  // padding-bottom: 0;
}


.logo-link {
  &:after {
    content: none !important;
  }
}



%links-bg,
._links-bg {
  position: relative;
  &:after {
    content: ' ';
    position: absolute;
    left: $offset; bottom: -2px;
    height: $offset/2;
    background: $color-main;
    padding: $offset;

    width: 100%;
    z-index: -1;

    // clip-path: polygon(0% 20%, 80% 0%, 100% 0, 100% 100%, 0 100%);
  }
}



.title {
  padding-bottom: $size-base;
}
.subtitle {
  &, p {
    font-size: $size-p1;
    line-height: $size-p2;
    @extend %font-serif;
  }
}



// links
a {
  border: 0;
  position: relative;
  // color: $color-green;
  // @extend ._pointer-no_events;
  // @extend %ease-fast;
}

section.copy {
  a {
    text-decoration: underline;
  }
}

section.narrow {
  @extend ._width-content-magic;
}
section.max {
  @extend %width-content-max;
}





p {
  // font-size: $font-size-base;
  // line-height: $font-lineheight;
  @extend %md-sans_serif;

  padding-left: 0;
  // @extend %font-serif;

  a {
    font-weight: 700;
    &+a {
    }
  }
}



@import 'components';
@import 'sections';









