


@import '../../node_modules/coeur/stylecoeur/index.scss';


//  Colors

$color-phdir: #71EFF5;            @include colorate('phdir', $color-phdir);
$color-teal: $color-phdir;        @include colorate('teal', $color-teal);

$color-dull: #90D9DD;             @include colorate('dull', $color-dull);

$color-yellow: #FCCB4C;           @include colorate('yellow', $color-yellow);
$color-pink: #FA5486;             @include colorate('pink', $color-pink);

$color-gray: #374F6A;             @include colorate('gray', $color-gray);
$color-gray-light: #F0F0F0;       @include colorate('gray-light', $color-gray-light);


$color-main: $color-phdir;        @include colorate('main', $color-main);
$color-secondary: $color-gray;    @include colorate('secondary', $color-secondary);
$color-tertiary: $color-pink;     @include colorate('tertiary', $color-tertiary);

$color-active: $color-main;       @include colorate('active', $color-phdir);
$color-link: $color-pink;         
$color-body: $color-secondary;    
// $color-hover: $color-main;
// $color-active: $color-main;

$sidebar-color-link: $color-pink; 






//   Measurements
$offset: 5px;
$z-popup: 100; // 










%font-mono,
._font-mono {
  font-family: Courier, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', monospace;
} ._font-mono, ._font-code { @extend %font-mono; }

%font-display,
._font-display {
  // font-family: 'Playfair Display', 'Georgia', serif;
  @extend %font-sans;
}