
/* 

  This needs to be overhauled...

 */



//  Colors

$theme-sizes: (
  size: 15px,
  size-diff: 0,
  radius: 4px,
) !default;



$size: 15px;
$font-lineheight: 22px;
// $font-size-base: 18px;

$font-small: $size - 2px;
$font-large: $size + 2px;



//   Measurements
$offset: 5px;
$z-popup: 100; // 
$z-top: 90;



$color-phdir: #71EFF5;
$color-teal: $color-phdir;
$color-teal-50: rgba($color-phdir,0.5);
$color-teal-10: rgba($color-phdir,0.1);
$color-dull: #90D9DD;             

$color-yellow: #FCCB4C;           
$color-pink: #FA5486;             

$color-gray: #374F6A;             
// $color-gray-light: #F0F0F0; // specced out, but unusable bc of coeur   

      
$color-body: $color-phdir;
$color-main: $color-phdir;        
$color-secondary: $color-gray;    
$color-tertiary: $color-pink;     
$color-tertiary-10: rgba($color-tertiary,0.2);     

$color-active: $color-pink;       
$color-links: $color-pink;         
$color-body: $color-secondary;    
// $color-hover: $color-main;
// $color-active: $color-main;


$sidebar-color-link: $color-links;


$color-focus: $color-tertiary;






// @include colorate('phdir', $color-phdir);
// @include colorate('teal', $color-teal);
// @include colorate('dull', $color-dull);
// @include colorate('yellow', $color-yellow);
// @include colorate('pink', $color-pink);
// @include colorate('gray', $color-gray);
// @include colorate('gray-light', $color-gray-light);
// @include colorate('main', $color-main);
// @include colorate('secondary', $color-secondary);
// @include colorate('tertiary', $color-tertiary);
// @include colorate('active', $color-phdir);


%focus-pink {
  // border: solid rgba($color-tertiary, 1) ;
  // outline: none;
  // box-shadow: 0px 0px 2px 0px rgba($color-tertiary, 1);
}

%font-mono,
._font-mono {
  font-family: Courier, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', monospace;
} ._font-mono, ._font-code { @extend %font-mono; }

%font-display,
._font-display {
  // font-family: 'Playfair Display', 'Georgia', serif;
  @extend %font-sans;
}


$use-cssvars: false;

// $font-serif: "PT Serif", "Georgia", serif;
// $font-display: "PT Serif", "Georgia", serif;

@import '../../node_modules/coeur/styles/index.scss';


%font-display,
._font-display {
  // nothing here for stylecoeur
  // @extend %font-sans;
  // font-family: $font-display;
}



@include addtheme($theme-sizes)


$phdir_: (
  phdir: #71EFF5,
  teal: #71EFF5,
  dull: #90D9DD,
  yellow: #FCCB4C,
  pink: #FA5486,
  gray: #374F6A,
);
@include colorate($phdir_);


$context_: (
  main: usetheme(phdir, $colors_),
  secondary: usetheme(gray, $colors_),
  tertiary: usetheme(pink, $colors_),

  active: usetheme(pink, $colors_),
  links: usetheme(pink, $colors_),
  body: usetheme(secondary, $colors_),

);
@include colorate($context_);







