
// Blog page; a page with a list of headlines

/* 

  Relates to
  - News.vue
  - Article.vue
  - Updates.vue

  (used to be one page, now split up, needs cleaning)

 */


// Article Post; a page with lots of text
// .Article {
//   .Article-frontmatter {
//     margin-bottom: $size-2;
//   }

//   .Article-back {
//     font-weight: $font-bold;
//   }
//   .Article-title {
//   }
//   .Article-lede {
//     margin-bottom: $size-base;
//     &, p {
//       font-size: $font-large;
//     }
//   }
//   .Article-image {
//     width: 100%;
//   }
  
//   .Article-tags {
//     margin-bottom: $size-base;
//   }
// }



.Capsid, .CapsidStub {
  // change the header sizes a bit 
  // they need to stay semantic in order to be copied into mailchimp
  $p1: $font-h1;
  $l1: $lineheight-h1;

  $p2: 21px;
  $l2: 28px;

  $p3: 28px;
  $l3: 32px;

  $p4: 21px;
  $l4: 32px;

  h1 {
    font-size: $p1;
    line-height: $l1;
    padding-bottom: $size;
  }
  h2 {
    font-size: $p2;
    line-height: $l2;
  }
  h3 {
    font-size: $p3;
    line-height: $l3;
  }
  h4 {
    font-size: $p4;
    line-height: $l4;
  }
  h5 {
    font-weight: 400;
  }


  // &.narrow {
  //   @include screen-xs {
  //     padding-left: 0;
  //     padding-right: 0;
  //   }
  // }

  blockquote {
    padding: $size $size-2;
    border-left: $border-thin solid usetheme(tertiary);
    margin-top: $size;
    margin-bottom: $size;
    p { // md render fix
      // overrides Coeur blockquotes as pull-quotes
      @extend %font-serif;
      font-size: $p4;
      line-height: $l4;
      margin-bottom: 0;
      // border: 0;
      // color: usetheme(tertiary); // $color-tertiary;
    }
  }

  p a {
    @extend ._wordbreak; 
    // make sure long links get broken up, esp. for mobile
    // but ONLY within paragraphs
  }
}

.Capsid-header {
  @extend %font-serif;
  // font-style: italic;
  // font-size: $font-large;
  color: usetheme(copy-light); //$color-gray-light;
}

// in favor of plain text instead of lots of links like sidebar
.Capsid-content {
  iframe {
    margin-bottom: $size-2;
  }

  img {
    max-width: 100%;
  }
}

.Capsid-card, .Periodical-card {
  // .Periodical-card is legacy to the BiomX C&T

  padding: $size;
  background-color: usetheme(card); //$color-ui-lighter;
  border-radius: $radius;
  margin-bottom: $size-2;
  @extend ._card;
  // img {
  //   width: 100%;
  // }

  &.--callout {
    background-color: usetheme(copy-light); //$color-teal-50;
    // color: $color-bg;
  }

  &.--light {
    background-color: setheme(highlight); //$color-teal-10;
    font-weight: inherit;
    // color: $color-bg;
  }

  &.--img {
    img {
      width: 100%;
    }
  }
}


.Capsid-item {
  display: block;
  width: 100%;

  margin-top: $size-base;
  margin-bottom: $size-4;

  // border: $border-thin solid $color-tertiary;
  border-radius: $radius;

  // blog item with image
  &.--image {
    display: grid;
    grid-template-areas: "content image";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    grid-gap: $size-base;
    align-items: center;

    @include screen-xs {
      grid-template-areas: "image"
                           "content";
      grid-template-rows: auto 1fr;
      grid-template-columns: 1fr;
      width: 100%;
      max-width: 240px;
      height: auto;
    }
  }
  // .Capsid-item-date {
  //   font-size: $font-small;
  //   margin-right: $size-half;
  //   @extend %font-500;
  //   // & + .BlogList-title {
  //   //   padding-top: 0;
  //   // }
  // }
  // .Capsid-item-source { // UNUSED
  //   // display: block;
  //   // font-size: $font-small;
  //   // @extend %font-600;
  //   // color: $color-gray;
  //   @extend %font-serif;
  //   font-style: italic;
  //   text-decoration: none;
  //   color: $color-gray;
  //   // @extend .--antialias;
  //   // padding-bottom: $size-half;
  // }
  // .Capsid-item-title {
  //   &, a {
  //     padding-top: 0;
  //     text-decoration: none;
  //     @extend %font-serif;
  //     // font-size: $font-larger * 1.19;
  //     // line-height: $font-larger * 1.66;
  //     // letter-spacing: -0.24px;

  //     // typeface testing
  //     font-size: 28px;
  //     line-height: 34px;
  //     letter-spacing: -0.4px;
  //     // padding-bottom: 0; // to get author closer
    
  //   }
  // }
  // .Capsid-item-author {
  //   margin-top: -$size-half;
  //   color: $color-ui-dark;
  //   // padding-bottom: $size;
  //   // opacity: 0.5;
  // }
  // .Capsid-item-lede {
  //   padding-bottom: $size;
  // }
  // .Capsid-item-header {
  //   // padding-bottom: $size-half;
  //   line-height: $font-larger * 1.66;
  // }
  // .Capsid-item-content {
  //   grid-area: content;
  //   .BlogList-title {
  //     // display: block;
  //     // font-size: $font-larger;
  //     // line-height: $font-larger + 8px;
  //     // font-style: italic;
  //     // @extend %font-serif;
  //     padding-bottom: $size-half;
  //     text-decoration: none;
  //   }
  //   .Capsid-item-desc {
  //     padding-bottom: $size-half;
  //     font-size: $font-small;
  //   }
  // }
  // .Capsid-item-image {
  //   display: block;
  //   grid-area: image;
  //   width: 150px;
  //   height: auto;

  //   height: 100%;
  //   object-fit: cover;

  //   &.--contain {
  //   object-fit: contain;
  //   }
  // }
}
  
.Capsid-callout {
  padding: $size;
  background-color: usetheme(bg-lighter); //$color-ui-lighter;
  border-radius: $radius;
  margin-bottom: $size-2;
}

.Capsid-sponsor {
  @extend .Capsid-card;
  background-color: usetheme(bg-lighter); //$color-silver-lighter;
  margin-bottom: $size-2; // add distance
}

.Capsid-new {
  @extend ._card;
  border: 0;
}
  .Capsid-new-title {
    display: inline-block;
    &:after {
      content: ' ';
      display: block;
      width: 45px;
      padding-top: $size-half;
      border-bottom: $border-thin solid usetheme(active); //;
    }
  }

.Capsid-updates {
  // @extend .Capsid-card;
  padding: $size;
  background-color: usetheme(bg-lighter); //;$color-ui-lighter;
  border: $border-thin solid usetheme(bg-lighter); //;$color-ui-lighter;
}
.Capsid-update-item {
  padding: $size;
  background-color: usetheme(bg-purewhite); //$color-purewhite;
  margin-bottom: $size-half;

  img {
    max-width: 100%;
  }
}

.Capsid-community {
  // @extend .Capsid-card;
  padding: $size;
  background-color: usetheme(community); //$color-tertiary-05;
}
  .Capsid-community-cta {
    // padding-top: $size--1;
  }
  .Capsid-community-item {
    padding: $size;
    background-color: usetheme(bg); //$color-purewhite;
    margin-bottom: $size-half;
  }
  .Capsid-community-itemheader {
    span + span {
      padding-left: $size-half;
    }
  }

.Capsid-jobs {
  // @extend .Capsid-card;
  padding: $size;
  background-color: usetheme(jobs); //$color-teal-10;
}
  .Capsid-jobs-item {
    padding: $size;
    background-color: usetheme(bg-blue-silver); //#F5FDFF; // NEED TO ADD THIS
    margin-bottom: $size-half;
    &:last-child {
      margin-bottom: $size;
    }
    h5 {
      // padding: 0;
      padding-bottom: $size-half;
      // line-height: $size-2;
    }
    img {
      max-width: 250px;
    }
  }
  .Capsid-jobs-itemheader {
    span + span {
      &:before {
        content: ' — ';
      }
    }
  }

// used to display short headlines on Capsid & Tail
.CapsidStub {
  
  .CapsidStub-latest {
    padding-bottom: $size-half;
  }
  
  // don't highlight / underline some parts
  .CapsidStub-item {
    &,* {
      text-decoration: none;
    }
    h1 {
      font-size: 34px;
      line-height: 42px;
    }
    h1, h2 {
      text-decoration: underline;
      text-decoration-color: usetheme(active); //$color-links;
    }
    &.--featured {
      border-color: usetheme(active); //$color-tertiary;
    }
    // emulate a link, but handled in js
    // since might contain nested links
    border: $border-thin solid usetheme(bg); //$color-bg;
    @extend %ease;
    cursor: pointer;
    &:hover {
      @extend %ease;
      border: $border-thin solid usetheme(active); //$color-tertiary;
      h2 {
        color: usetheme(capsid-color); // $color-tertiary;
        @extend %ease;
      }
    };
  }
}

.Capsid-author {
  @extend .Capsid-card;
  margin-top: $size;
  margin-bottom: 0;
  padding: $size;
  background-color: usetheme(bg-lighter); // $color-ui-lighter;
  border-radius: $radius;

  img {
    max-width: 80px;
  }
}

.Capsid-share {
  // @extend .Capsid-card;
  margin-top: $size-2;
  margin-bottom: $size-2;
  img {
    width: auto;
  }
}

  .Capsid-twitter {
    img {
      vertical-align: middle;
      margin-right: $size/4;
    }
    margin-top: $size;
  }


// for the C&T subtitle ('A weekly phage periodical')
// Airtable content
.cnt-subtitle {
  @extend ._font-large;
  @include screen-sm {
    // typographical alignment
    padding-bottom: 16px;
  }
}

// mailchimp signup banner for capsid

.CapsidBanner {
  // used to sign up for Capsid all over the site 
  // two versions: one wide (over articles) and one narrow (in footer);
  
  // box-shadow: 0px 4px 8px rgba(70, 70, 70, 0.1);
  @extend ._card;
  background-color: usetheme(capsid-color); //$color-teal-50;
  border-color: usetheme(capsid-color); //$color-teal-50;

  border-radius: $radius;
  padding: $size;
  // margin-bottom: $size;

  input[type='email'] {
    &:focus, &:hover {
      background-color: usetheme(bg); //$color-bg;
    }
  }
}


// bottom of each issue

.CapsidIssue-footer {
  background-color: usetheme(bg-silver);
  padding-top: $size;
  padding-bottom: $size;
}



