
.Directory {
  .Directory-name {
    padding-bottom: 0;
    // color: $color-ui-dark;
  }
  .Directory-search {
    border-radius: $radius;
    &:hover, &:focus, &:active {
      border-color: $color-active;
    }
  }
  
  .Directory-nav-container {
    position: sticky;
    top: -1px; //$size-half;
    padding-top: $size-half;
    padding-bottom: $size-half;
    background-color: rgba($color-bg, 0.9);
    z-index: $z-top;
  }
}



// 
.DirectoryView {

  .DirectoryView-search {
    span {
      color: $color-gray-lighter;
      text-transform: none;
    }
  }

  .DirectoryView-item {
    @extend ._grid-1-3;
    margin-bottom: $size-base;
    @include screen-sm {
      grid-gap: $size-2;
    }
  }

  .DirectoryView-view {
    padding-top: 0;
    margin-bottom: $size-base;
    text-transform: capitalize;
  }




  &.phages {
    .phage-name {
      // @extend h5;
      font-size: $font-large;
      @extend %font-600;
      padding-top: 0;

      position: sticky;
      top: $size-p5;
    }
    .DirectoryView-body {
      // padding: $size-base;
    }
    .phage-head {
      padding-top: $size-base;
      @include screen-sm {
        text-align: right;
      }
    }
    .phage-lab {
      // padding: $size-base $size-2;
      padding: $size-base;
      background-color: $color-ui-light;
      border-radius: $radius;
      margin-bottom: $size-half;
      &:last-child {
        margin-bottom: 0;
      }
    }
      .person-pi {
        background-color: $color-bg;
        // border: $color-gray solid $border-line;
        padding-top: 0;
        padding-bottom: 0;
        color: $color-gray;
        position: relative;
        bottom: 0px;
      }
      .phage-lab-name {
        // @extend %font-600;
      }
      .phage-lab-org {
        @extend h6;
        padding-bottom: 0;
        color: $color-gray-lighter;
      }
      .phage-lab-content {
        @extend ._grid-1-3;
      }
      .labs-person {
        padding-bottom: $size-base;

        &:last-child {
          padding-bottom: 0;
        }
      }
      .person-name {
        @extend %font-600;
      }
      .person-meta {
        font-size: $font-small;
      }
      .person-twitter {
        font-size: $font-small;
        text-decoration: none;
        margin-left: $size-half;
        // float: right;
      }
      .person-info {
        @extend ._grid-3-1-xs;
      }
  }



}

