
.Mailchimp {
  background-color: $color-teal-50;
  border-radius: $radius;
  padding: $size;
  // margin-bottom: $size;

  input[type='email'] {
    &:focus, &:hover {
      background-color: $color-bg;
    }
  }
}