


// Specific for Kisaco / Phage Futures prototype

.PhageFutures-post {
  margin-bottom: $size;
}

.PhageFutures-post-header {
  color: usetheme(copy-gray);
}
a.PhageFutures-post-author {
  // @extend ._font-small;
  font-weight: bold;
  text-decoration: none;
  &, a, p {
    color: usetheme(copy-gray);
    &:hover {
      color: usetheme(active);
    }
  }
}
  a.PhageFutures-post-header-twitter {
    &, a, p {
      text-decoration: none;
      color: usetheme(copy-light);
      &:hover {
        color: usetheme(active);
      }
    }
  }
  .PhageFutures-post-header-meta {
    color: usetheme(copy-light);
  }

.PhageFutures-post-content.--transparent {
  border-color: transparent; // usetheme(bg-silver);
  background: usetheme(bg-silver);
  padding: $size;
  margin-bottom: 0;
  max-width: 470px; // forces twitter cards to shrink
}