

.Alerts {
  .Alerts-item {
    margin-top: $size-base;
    margin-bottom: $size-base;
    padding-bottom: $size-base;
    margin-top: $size-base;
    padding-top: $size-base;

    border-top: $border-thin solid $color-pink;

    &.Resolved { 
      opacity: 0.7;
      background-color: $color-silver-lighter;
      border: 0;
    }
  }
  .Alerts-status {
    margin-top: $size-base;
    margin-bottom: $size-base;
    .Alerts-status-tag {
      padding: $size-half $size-base;
      background-color: $color-ui-light;
      border-radius: $radius;
    }
    .Resolved {
      // avoid using green; default to gray
    }
    .Urgent {
      background-color: $color-danger;
      color: $color-bg;
    }
    .Low {
      background-color: transparent;
      border: $border-thin solid $color-ui-light;
    }
  }
  .Alerts-title { // rendered in Md
    &, p, p * {
      font-size: $font-larger;
      line-height: $font-larger + 8px;
      padding-bottom: 0; // $size-base;
    }
  }
  .Alerts-tags {
    margin-bottom: $size-base;
  }
}


// AlertSignup component can be found in a few places
// will have a class specifying where itis
.AlertSignup {

  // margin-top: $size-base;
  // margin-bottom: $size-base;

  .AlertSignup-form {
    padding: $size-base $size-base;
    // border: $color-main $border-thin solid;
    // background: $color-tertiary;
    border-radius: $radius;
    color: $color-black;
    a {
      color: $color-black;
      font-weight: bold;
      &:hover {
        color: $color-blue;
      }
    }

    input {
      // border-color: $color-tertiary;
      color: $color-black;
      &.Subscribe {
        color: $color-black;
      }

      border-color: $color-black;
      border-radius: $radius;
      &:hover, &:active, &:focus {
        background-color: rgba($color-white, 0.8)
      }
    }
  }
    .AlertSignup-content {
      @include screen-xs {
        width: 100%;
        max-width: 100%;
      }
    }
    .AlertSignup-sub {
      font-weight: bold;
    }
    .AlertSignup-input {
      @include screen-xs {
        margin-right: 0;
      }
    }
    .AlertSignup-cta {
      margin-bottom: 0;
      margin-top: $size-half;
      @include screen-xs {
        width: 100%;
        display: block;
        // margin-top: $size-base;
      }
    }

    &.footer {
      margin: 0;
      text-align: center;
      margin-left: $size-2;
      margin-right: $size-2;

      @include screen-xs {
        margin-left: $size-base;
        margin-right: $size-base;
      }
    }
}
.AlertSignup-container {
  background-color: $color-ui-lighter;
  // padding-top: $size-base;
  // padding-bottom: $size-base;
  .footer {
    margin-top: 0;
    margin-bottom: 0;
  }
}


