
.Footer {
  background-color: $color-secondary;
  color: $color-bg;

  @include screen-xs {
    margin-bottom: $size-8;
    // to make room for driftt
  }

  span {
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: $color-bg;
    border: 0;
    line-height: $size-3;
    &:hover {
      color: $color-phdir;
    }
  }
  .nuxt-link-exact-active, 
  .nuxt-link-active {
    // @extend %links-bg;
    @extend %font-bold;
  }
  .Footer-right,
  .Footer-top {
    margin-right: $size-8;
  }
  .Footer-logo {
    max-width: 180px; 
  }

}


.Footer-logo-sm {
  width: 45px;
  // height: 100%;
  vertical-align: middle;
  padding-bottom: 4px;
  padding-right: $size-half;
}
.Phagedirectory-text { // phage directory text, used in footer
  span {
    font-weight: 700;
  }
}


// logo deets
// .logo-sm {
//   // padding-right: $size-half;
//   width: 80px;
//   // height: 100%;
//   vertical-align: middle;
//   padding-bottom: $size-half;
// }



