
.Header {

  // give a lot more space to links
  max-width: $width-lg-min;
  padding-left: $size-2;
  padding-right: $size-2;


  .Header-content {
    @include screen-sm {
      // @include gridAutoCols(2);
    }
  }

  a {
    @include screen-sm {
      // font-size: usetheme(font-large), // $font-large;
      font-size: usetheme(size), // $font-large;
    }
    // font-size: $size-larger;
    text-decoration: none;
  }
  .nuxt-link-exact-active {
    // @extend %links-bg;
    @extend %font-bold;
  }
  .Header-orgs.nuxt-link-active {
    // @extend %links-bg;
    @extend %font-bold;
  }
  .Header-search {
    border: $border-thin solid usetheme(bg-lighter); //;$color-ui-light;
    border-radius: $radius;
    // max-width: 110px; // gives the links to the right more space
    min-width: 120px;
    // max-width: 400px;
    flex-basis: auto; /* default value */
    flex-grow: 1;

    @extend %ease;
    &:hover {
      border-color: usetheme(active); //$color-tertiary;
    }
    &:focus {
      border: $border-thin solid usetheme(active); //$color-tertiary;
      padding: $size-half $size-base;
      @extend %ease;
    }
  }

  .Header-inset {
    background-color: usetheme(bg-silver); //$color-silver-light;
    border-radius: $radius;
    padding-top: $size-half;
    padding-bottom: $size-half;
  }

  // header link
  .Header-logo-link {
    &:after {
      content: none !important;
    }
  }

}

