---
layout: layout-main
---

<div class="content _padding-bottom-2" markdown="1">

<%= partial '/partials/header', :locals => { :name => 'about' } %>

</div>


<div class="content --narrower ">

<%= partial '/partials/about_nav', :locals => { :name => 'background' } %>

<div class="section" markdown="1">


<!-- <%= partial '/partials/join' %> -->

### Background

We are facing a global antibiotic resistance crisis and we need additional or alternative ways to treat patients unable to fight against bacterial infections. Phage therapy is an increasingly viable and scientifically-accepted alternative to antibiotics.

Researchers around the world routinely cultivate phages against most bacterial pathogens faced by patients. However, safely and effectively giving these phages to critically ill patients is challenging — each phage treatment must be customized to each patient’s infection. This process requires a complex collaboration between scientists, doctors, regulatory bodies and families of patients on extremely short notice. 

By building and maintaining a free, open-source, public directory of researchers willing and able to provide, test and/or mass-produce phages in response to critically ill patients’ needs, we can connect patients with potentially life-saving cures to otherwise untreatable drug-resistant infections.

— Jess &amp; Jan <%= partial '/partials/phage' %>


<div class="section --loose" markdown="1">

#### Natural-Born Bacteria Killers

<blockquote>
  <div>“Our time with antibiotics is running out”</div>
  <div>World Antibiotics Awareness Week, WHO</div> 
</blockquote> 

Our first line of defense in fighting bacterial disease — antibiotics — is starting to fail, and hundreds of thousands of people are dying each year as a result of previously treatable, now drug-resistant infections. 

<blockquote class="--article">
  <div>If we don't act now, superbugs will kill us <br /> before climate change does</div>
  <div><a href="http://www.wired.co.uk/article/antibiotic-resistance-innovation-dame-sally-davies-nhs" target="_blank">Wired.co.uk</a> <span class="-date _padding-left-half"> — Nov 6, 2017</span></div> 
</blockquote> 

An [ancient but emerging](https://www.washingtonpost.com/national/health-science/scientists-are-dusting-off-a-long-forgotten-weapon-to-cope-with-modern-bacteria/2017/06/30/3476ced0-4aeb-11e7-9669-250d0b15f83b_story.html) strategy to fight drug-resistant bacteria is to attack them with their natural predators: <strong>bacteriophages</strong> (or “phages” for short).


<blockquote class="_float-left">
  <div>“Phages are viruses that <br />only kill bacteria”</div>
</blockquote> 

Phages are viruses that only kill bacteria that can be found in soil, water, sewage, and just about anywhere else bacteria are found. For decades, scientists have been studying how phages kill bacteria, which ones kill which, and how we can cultivate large numbers of phages in order to use them against infectious bacteria in actual patients.

#### Personalized Care

Although phage therapy is primarily done on a case-by-case basis involving patients who are out of other options, it has been done successfully in this way for years through centers like the [Eliava Phage Therapy Center](http://eliavaphagetherapy.com) in Tblisi, Georgia. However, most phage research labs are not in the business of preparing patient-ready phages, and the list of associated challenges makes it easy to see why.

<blockquote class="--article">
  <div>Mail-Order Viruses Are The New Antibiotics</div>
  <div><a href="https://www.buzzfeed.com/azeenghorayshi/mail-order-viruses-are-the-new-antibiotics" target="_blank">Buzzfeed News</a> <span class="-date _padding-left-half"> — Feb 2, 2015</span></div> 
</blockquote> 

In phage therapy, no two patients are alike: patients' samples must be tested against phages to see which phages will work. Once a phage shows promise in killing a patient’s bacterial strain in the lab, researchers must mass-produce, purify and confirm it to be safe. Patients must then get emergency FDA approval, then receive the phages in the mail before treatment can begin.

All of this must happen after a patient qualifies for phage treatment (when there are no other options left) and before losing their life to the disease.



#### Recent Successes and Failures

Even with these challenges, phage therapy can work.

In 2016, a San Diego man, Dr. Tom Patterson, was [cured of a life-threatening multi-drug resistant _Acinetobacter baumannii_ infection](https://health.ucsd.edu/news/releases/pages/2017-04-25-novel-phage-therapy-saves-patient-with-multidrug-resistant-bacterial-infection.aspx) following administration of a set of personalized phage cocktails. 

In this remarkable case, phage collection, testing and administration was coordinated by Tom’s wife, Dr. Steffanie Strathdee, with the help of Tom’s doctors, several phage researchers from a handful of US labs and the US Navy.

<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/AbAZU8FqzX4" frameborder="0" allowfullscreen></iframe>
</div>

Dr. Strathdee has since pioneered an effort to obtain phages for other critically ill patients by reaching out to phage researchers via Twitter:

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Phage?src=hash&amp;ref_src=twsrc%5Etfw">#Phage</a> researchers! I am working with a team to get Burkholderia cepacia phages to treat a 25 y old woman with CF whose infection has failed all <a href="https://twitter.com/hashtag/antibiotics?src=hash&amp;ref_src=twsrc%5Etfw">#antibiotics</a>. We need lytic non-lysogenic phage URGENTLY to find suitable phage matches. Email sstrathdee@ucsd.edu if you can help!</p>&mdash; Steffanie Strathdee (@chngin_the_wrld) <a href="https://twitter.com/chngin_the_wrld/status/928053313106452480?ref_src=twsrc%5Etfw">November 8, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

Most recently, [25-year-old Mallory Smith was the patient in need](https://www.statnews.com/2017/11/10/superbug-phage-mallory-smith). Battling pneumonia caused by antibiotic resistant _Burkholderia cepacia_, Mallory’s parents contacted Dr. Strathdee for help. 

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Phage?src=hash&amp;ref_src=twsrc%5Etfw">#Phage</a> phans -  Mallory is getting her first dose of <a href="https://twitter.com/hashtag/phagetherapy?src=hash&amp;ref_src=twsrc%5Etfw">#phagetherapy</a> tonight and her life hangs in the balance as we wait for news.  Many thanks to <a href="https://twitter.com/JonDennis8?ref_src=twsrc%5Etfw">@JonDennis8</a> who sent phage from Alberta to her rescue....the phage hunt continues for more of nature&#39;s ninjas! <a href="https://twitter.com/hashtag/CysticFibrosis?src=hash&amp;ref_src=twsrc%5Etfw">#CysticFibrosis</a> <a href="https://twitter.com/hashtag/AMR?src=hash&amp;ref_src=twsrc%5Etfw">#AMR</a></p>&mdash; Steffanie Strathdee (@chngin_the_wrld) <a href="https://twitter.com/chngin_the_wrld/status/930599009374240768?ref_src=twsrc%5Etfw">November 15, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

Although the efforts that followed prompted phage researchers to identify and send phages that might help Mallory, her life could not be saved in time. Mallory passed away on November 15th, 2017. 


#### What we need now 

Currently, quickly tracking down the right phages on the short notice required is extremely difficult. All search efforts run through twitter, as neither a directory of phage researchers nor a catalogue of phages currently exists.


<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">Right.  My dream would be to have an open source phage library that could be ever-expanding.  Phage hunters could add to it and it would be made widely available.</p>&mdash; Steffanie Strathdee (@chngin_the_wrld) <a href="https://twitter.com/chngin_the_wrld/status/928396012233703425?ref_src=twsrc%5Etfw">November 8, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

The goal of The Phage Directory is to build and help maintain this missing network in order to facilitate connections between the people who have phages, the people who need phages, and the information each party needs to get phages from lab to patient on a few days’ notice.



</div>
<!-- 
In the last few decades, modern medicine has relied on antibiotics to treat and prevent many different kinds of diseases. This reliance has led to over-use and ultimately, antimicrobial resistance. Antimicrobial resistance means our antibiotics are losing their effectiveness, and thousands of people die every year from diseases previously treatable by antibiotics. ["Superbugs ‘are going to wipe us out before climate change does,’ expert warns"](http://metro.co.uk/2017/11/06/superbugs-are-going-to-wipe-us-out-before-climate-change-does-expert-warns-7057369/)(metro.co.uk)

[comment on the phage therapy]

- https://www.buzzfeed.com/azeenghorayshi/mail-order-viruses-are-the-new-antibiotics
- https://arstechnica.com/science/2015/12/medicalizing-viruses-that-attack-bacteria/

[comment on the hunt for phages per Steffanie / Mallory Smith case]

<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/AbAZU8FqzX4" frameborder="0" allowfullscreen></iframe>
</div>

- https://www.statnews.com/2017/11/10/superbug-phage-mallory-smith/

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Phage?src=hash&amp;ref_src=twsrc%5Etfw">#Phage</a> researchers! I am working with a team to get Burkholderia cepacia phages to treat a 25 y old woman with CF whose infection has failed all <a href="https://twitter.com/hashtag/antibiotics?src=hash&amp;ref_src=twsrc%5Etfw">#antibiotics</a>. We need lytic non-lysogenic phage URGENTLY to find suitable phage matches. Email sstrathdee@ucsd.edu if you can help!</p>&mdash; Steffanie Strathdee (@chngin_the_wrld) <a href="https://twitter.com/chngin_the_wrld/status/928053313106452480?ref_src=twsrc%5Etfw">November 8, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Right.  My dream would be to have an open source phage library that could be ever-expanding.  Phage hunters could add to it and it would be made widely available.</p>&mdash; Steffanie Strathdee (@chngin_the_wrld) <a href="https://twitter.com/chngin_the_wrld/status/928396012233703425?ref_src=twsrc%5Etfw">November 8, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 -->


### Resources

- [Phage Therapy Center](https://www.phagetherapycenter.com)
- [Eliava Phage Therapy Center](http://eliavaphagetherapy.com)
- [Clinical Trials](https://clinicaltrials.gov/ct2/results?term=phage&Search=Apply&recrs=b&recrs=a&recrs=d&recrs=e&age_v=&gndr=&type=&rslt=#tableTop)
- [Commercial Companies](https://www.phagetherapycenter.com/pii/PatientServlet?command=static_ptcompanies&language=0)





</div>




</div>




