---
layout: layout-main
---



<div class="content " markdown="1">

<%= partial '/partials/header' %>

<div class="section" markdown="1">

### Mission

We are experiencing a global antibiotic resistance crisis, and we require alternative measures to treat patients unable to combat bacterial infections. Data collected by researchers around the world are stacking up in favour of a place for phage therapy in modern medicine.

Although dozens of labs around the world routinely cultivate phages against most bacterial pathogens currently faced by patients, many challenges hinder the efficient distribution of phages to patients in times of need.

By generating and maintaining an open public directory of researchers willing and able to test and mass-produce phages in response to a critically ill patient’s need, we can connect physicians, patients and families with potentially life-saving cures to otherwise untreatable drug-resistant infections.


### Background

Articles, drug-resistant super bugs, TED talk, buzzfeed article, the tweet, etc.


### About

This micro-site is a work in a progress. For questions, suggestions, and more, please either email us individually or at <a href="mailto:staff@phage.directory" target="_blank">staff@phage.directory</a>. This directory is currently organized and run by two staff members, using their own resources:



</div>




<div class="profile-container _grid-center-xs _grid-cols-2 _center-margin _grid-gap-large">



<div class="profile _card ">
<div class="profile-image _center">
  <img width="140" src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg">
</div>
<div class="profile-name _center">
  <div>Jessica Sacher</div>
</div>
<div class="profile-short _center">
  <div>Microbiology and Biotechnology PhD at UAlberta</div>
</div>
<div class="profile-contact _center">
  <div><i class="fa fa-twitter _padding-right-half"></i><a href="https://twitter.com/JessicaSacher" target="_blank">@JessicaSacher</a></div>
  <div><i class="fa fa-envelope-o _padding-right-half"></i><a href="mailto:sacher@ualberta.ca" target="_blank">sacher@ualberta.ca</a></div>
</div>
<div class="profile-description" markdown="1">
  I am a Microbiology and Biotechnology PhD student at the University of Alberta studying the interactions between bacteriophage receptor binding proteins and bacterial carbohydrates. 

  While I am a graduate student of the University of Alberta, I currently work in Dr. Christine Szymanski's glycobiology lab at the Complex Carbohydrate Research Centre at the University of Georgia as an Exchange Scholar.
</div>
</div>






<div class="profile _card ">
<div class="profile-image _center">
  <img height="140" src="http://janzheng.com/images/me.jpg">
</div>
<div class="profile-name _center">
  <div>Jan Zheng</div>
</div>
<div class="profile-short _center">
  <div>Product Design &amp; Development </div>
  <div>Masters in HCI from Carnegie Mellon</div>
  <div></div>
</div>
<div class="profile-contact _center">
  <div><i class="fa fa-twitter _padding-right-half"></i><a href="https://twitter.com/janistanian" target="_blank">@janistanian</a></div>
  <div><i class="fa fa-envelope-o _padding-right-half"></i><a href="mailto:hello@janzheng.com" target="_blank">hello@janzheng.com</a></div>
  <div><i class="fa fa-link _padding-right-half"></i><a class="" href="http://janzheng.com" target="_blank">janzheng.com</a></div>
</div>
<div class="profile-description" markdown="1">
  I'm a product designer with a background in computer science, psychology, and a Masters in Human-Computer Interaction from Carnegie Mellon University.

  In the past I've worked with companies and brands like Verizon Wireless, Cartoon Network, Coca-Cola, Microsoft, L'Oreal, and more to build and design digital products, and to improve product user experiences.
</div>
</div>




</div>


</div>



