---
layout: layout-main
---



<summary class="_width-content-paragraph _center-margin _padding-2" >

<div class="" markdown="1">

<%= partial '/partials/header' %>

<div class="section" markdown="1">

### Mission

I first became fascinated with microbes following an inspiring lecture on fecal transplants in mice in 2008, which led me to pursue a PhD in Microbiology and Biotechnology at the University of Alberta in Edmonton, Canada. The major research question I’ve been pursuing since has asked how bacteriophages (or phages, for short) target and kill Campylobacter jejuni, a deadly bacterial pathogen that infects humans around the world. Along the way, I have realized just how important the answers to questions like these are to getting us closer to solving one of the most important health hurdles humans have faced to date: that of antimicrobial resistance and multidrug-resistant infections. I’m passionate not only about the idea that phages can be harnessed to treat these infections, but that we are closer than we think to making phage therapy an accessible and promising option for patients.
 
Hundreds of scientists around the world have been working tirelessly for decades to understand the ins and outs of how phages infect and kill bacteria, cataloguing new phages and characterizing their individual traits one by one. Though not yet part of mainstream medicine, we are collectively amassing data that supports a place for phage therapy in our modern world. However, in times of immediate need, many challenges hinder the efficient identification, generation and distribution of sufficient doses of effective therapeutic phages to patients and their physicians. Tackling this problem requires a streamlined, collective approach involving collaboration between scientists, medical professionals and regulatory bodies. By generating and maintaining an open public directory of researchers willing and able to test and mass-produce phages in response to a critically ill patient’s need, we can connect physicians, patients and families with lifesaving cures to the drug-resistant infections that escape medical intervention every year.

— Jessica Sacher, PhD Candidate


### About

This micro-site is a work in a progress. For questions, suggestions, and more, please either email us individually or at <a href="mailto:staff@phage.directory" target="_blank">staff@phage.directory</a>.

This directory is currently organized and run by two staff members:

<div class="profile-container _grid-cols-2">



<div class="profile _card ">
<div class="profile-image">
  <img width="140" src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg">
</div>
<div class="profile-name">
  <div>Jessica Sacher</div>
</div>
<div class="profile-short">
  <div>Microbiology and Biotechnology PhD at UAlberta</div>
</div>
<div class="profile-contact">
  <div><i class="fa fa-twitter _padding-right-half"></i><a href="https://twitter.com/JessicaSacher" target="_blank">@JessicaSacher</a></div>
  <div><i class="fa fa-envelope-o _padding-right-half"></i><a href="mailto:sacher@ualberta.ca" target="_blank">sacher@ualberta.ca</a></div>
</div>
<div class="profile-description" markdown="1">
  I am a Microbiology and Biotechnology PhD student at the University of Alberta studying the interactions between bacteriophage receptor binding proteins and bacterial carbohydrates. 

  While I am a graduate student of the University of Alberta, I currently work in Dr. Christine Szymanski's glycobiology lab at the Complex Carbohydrate Research Centre at the University of Georgia as an Exchange Scholar.
</div>
</div>






<div class="profile _card ">
<div class="profile-image">
  <img height="140" src="http://janzheng.com/images/me.jpg">
</div>
<div class="profile-name">
  <div><a href="http://janzheng.com">Jan Zheng</a></div>
</div>
<div class="profile-short">
  <div>Product Design &amp; Development </div>
  <div>Masters in HCI from Carnegie Mellon U</div>
  <div></div>
</div>
<div class="profile-contact">
  <div><i class="fa fa-twitter _padding-right-half"></i><a href="https://twitter.com/janistanian" target="_blank">@janistanian</a></div>
  <div><i class="fa fa-envelope-o _padding-right-half"></i><a href="mailto:hello@janzheng.com" target="_blank">hello@janzheng.com</a></div>
</div>
<div class="profile-description" markdown="1">
  I'm a product designer with a background in computer science, psychology, and a Masters in Human-Computer Interaction from Carnegie Mellon University.

  In the past I've worked with companies and brands like Verizon, Cartoon Network, Microsoft, and more to build digital products and improve user experiences.
</div>
</div>






</div>

</div>


</div>

</summary>