---
layout: layout-main
---



<summary class="_width-content-max-paragraph _padding-2" >

<div class="_center-margin _padding-2" markdown="1">

<%= partial '/partials/header' %>

<div class="section" markdown="1">

### About

This micro-site is a work in a progress. For questions, suggestions, and more, please either email us individually or at <a href="mailto:staff@phage.directory" target="_blank">staff@phage.directory</a>.

This directory is currently organized and run by two staff members:

<div class="profile-container _grid-cols-2">



<div class="profile _card ">
<div class="profile-image">
  <img width="140" src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg">
</div>
<div class="profile-name">
  <div>Jessica Sacher</div>
</div>
<div class="profile-short">
  <div>Microbiology and Biotechnology PhD at UAlberta</div>
</div>
<div class="profile-contact">
  <div><i class="fa fa-twitter _padding-right-half"></i><a href="https://twitter.com/JessicaSacher" target="_blank">@JessicaSacher</a></div>
  <div><i class="fa fa-envelope-o _padding-right-half"></i><a href="mailto:sacher@ualberta.ca" target="_blank">sacher@ualberta.ca</a></div>
</div>
<div class="profile-description" markdown="1">
  I am a Microbiology and Biotechnology PhD student at the University of Alberta studying the interactions between bacteriophage receptor binding proteins and bacterial carbohydrates. 

  While I am a graduate student of the University of Alberta, I currently work in Dr. Christine Szymanski's glycobiology lab at the Complex Carbohydrate Research Centre at the University of Georgia as an Exchange Scholar.
</div>
</div>






<div class="profile _card ">
<div class="profile-image">
  <img height="140" src="http://janzheng.com/images/me.jpg">
</div>
<div class="profile-name">
  <div><a href="http://janzheng.com">Jan Zheng</a></div>
</div>
<div class="profile-short">
  <div>Product Design &amp; Development </div>
  <div>Masters in HCI from Carnegie Mellon U</div>
  <div></div>
</div>
<div class="profile-contact">
  <div><i class="fa fa-twitter _padding-right-half"></i><a href="https://twitter.com/janistanian" target="_blank">@janistanian</a></div>
  <div><i class="fa fa-envelope-o _padding-right-half"></i><a href="mailto:hello@janzheng.com" target="_blank">hello@janzheng.com</a></div>
</div>
<div class="profile-description" markdown="1">
  I'm a product designer with a background in computer science, psychology, and a Masters in Human-Computer Interaction from Carnegie Mellon University.

  In the past I've worked with companies and brands like Verizon, Cartoon Network, Microsoft, and more to build digital products and improve user experiences.
</div>
</div>






</div>

</div>


</div>

</summary>