---
layout: layout-main
---



<div class="content " markdown="1">

<%= partial '/partials/header' %>

<div class="section" markdown="1">

### Mission

We are experiencing a global antibiotic resistance crisis, and we require alternative measures to treat patients unable to combat bacterial infections. Data collected by researchers around the world are stacking up in favour of a place for phage therapy in modern medicine.

Although dozens of labs around the world routinely cultivate phages against most bacterial pathogens currently faced by patients, many challenges hinder the efficient distribution of phages to patients in times of need.

By maintaining a free, open-source, public directory of researchers willing and able to test and mass-produce phages in response to critically ill patients' needs, we can connect physicians, patients and families with potentially life-saving cures to otherwise untreatable drug-resistant infections.


### Background

In the last few decades, modern medicine has relied on antibiotics to treat and prevent many different kinds of diseases. This reliance has led to over-use and ultimately, antimicrobial resistance. Antimicrobial resistance means our antibiotics are losing their effectiveness, and thousands of people die every year from diseases previously treatable by antibiotics. ["Superbugs ‘are going to wipe us out before climate change does,’ expert warns"](http://metro.co.uk/2017/11/06/superbugs-are-going-to-wipe-us-out-before-climate-change-does-expert-warns-7057369/)(metro.co.uk)

[comment on the phage therapy]

- https://www.buzzfeed.com/azeenghorayshi/mail-order-viruses-are-the-new-antibiotics
- https://arstechnica.com/science/2015/12/medicalizing-viruses-that-attack-bacteria/

[comment on the hunt for phages per Steffanie / Mallory Smith case]

<div class="video">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/AbAZU8FqzX4" frameborder="0" allowfullscreen></iframe>
</div>

- https://www.statnews.com/2017/11/10/superbug-phage-mallory-smith/

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/hashtag/Phage?src=hash&amp;ref_src=twsrc%5Etfw">#Phage</a> researchers! I am working with a team to get Burkholderia cepacia phages to treat a 25 y old woman with CF whose infection has failed all <a href="https://twitter.com/hashtag/antibiotics?src=hash&amp;ref_src=twsrc%5Etfw">#antibiotics</a>. We need lytic non-lysogenic phage URGENTLY to find suitable phage matches. Email sstrathdee@ucsd.edu if you can help!</p>&mdash; Steffanie Strathdee (@chngin_the_wrld) <a href="https://twitter.com/chngin_the_wrld/status/928053313106452480?ref_src=twsrc%5Etfw">November 8, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Right.  My dream would be to have an open source phage library that could be ever-expanding.  Phage hunters could add to it and it would be made widely available.</p>&mdash; Steffanie Strathdee (@chngin_the_wrld) <a href="https://twitter.com/chngin_the_wrld/status/928396012233703425?ref_src=twsrc%5Etfw">November 8, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>






### Behind the Scenes

This micro-site is a work in a progress. For questions, suggestions, and more, please either email us individually or at <a href="mailto:staff@phage.directory" target="_blank">staff@phage.directory</a>. This directory is currently organized and run by people, with our own time and resources. This project is not funded by any institutions.



</div>




<div class="profile-container _grid-center-xs _grid-cols-2 _center-margin _grid-gap-large">



<div class="profile _card ">
<div class="profile-image _center">
  <img width="140" src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg">
</div>
<div class="profile-name _center">
  <div>Jessica Sacher</div>
</div>
<div class="profile-short _center">
  <div>Microbiology and Biotechnology PhD at UAlberta</div>
</div>
<div class="profile-contact _center">
  <div><i class="fa fa-twitter _padding-right-half"></i><a href="https://twitter.com/JessicaSacher" target="_blank">@JessicaSacher</a></div>
  <div><i class="fa fa-envelope-o _padding-right-half"></i><a href="mailto:sacher@ualberta.ca" target="_blank">sacher@ualberta.ca</a></div>
</div>
<div class="profile-description" markdown="1">
  I am a Microbiology and Biotechnology PhD student at the University of Alberta studying the interactions between bacteriophage receptor binding proteins and bacterial carbohydrates. 

  While I am a graduate student of the University of Alberta, I currently work in Dr. Christine Szymanski's glycobiology lab at the Complex Carbohydrate Research Centre at the University of Georgia as an Exchange Scholar.
</div>
</div>






<div class="profile _card ">
<div class="profile-image _center">
  <img height="140" src="http://janzheng.com/images/me.jpg">
</div>
<div class="profile-name _center">
  <div>Jan Zheng</div>
</div>
<div class="profile-short _center">
  <div>Product Design &amp; Development </div>
  <div>Masters in HCI from Carnegie Mellon</div>
  <div></div>
</div>
<div class="profile-contact _center">
  <div><i class="fa fa-twitter _padding-right-half"></i><a href="https://twitter.com/janistanian" target="_blank">@janistanian</a></div>
  <div><i class="fa fa-envelope-o _padding-right-half"></i><a href="mailto:hello@janzheng.com" target="_blank">hello@janzheng.com</a></div>
  <div><i class="fa fa-link _padding-right-half"></i><a class="" href="http://janzheng.com" target="_blank">janzheng.com</a></div>
</div>
<div class="profile-description" markdown="1">
  I'm a product designer with a background in computer science, psychology, and a Masters in Human-Computer Interaction from Carnegie Mellon University.

  In the past I've worked with companies and brands like Verizon Wireless, Cartoon Network, Coca-Cola, Microsoft, L'Oreal, and more to build and design digital products, and to improve product user experiences.
</div>
</div>




</div>


</div>



