---
layout: layout-main
---

<div class="content _padding-bottom-2" markdown="1">

<%= partial '/partials/header', :locals => { :name => 'fight' } %>

</div>


<div class="about-message content">
<div class="content --narrower ">
<div class="section" markdown="1">

### Join the Fight, Now.


<%= partial '/partials/signup' %>

Welcome to the the Phage Directory. We have put this site together in response to Dr. Steffanie Strathdee’s request for an open source phage library:

<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">Right.  My dream would be to have an open source phage library that could be ever-expanding.  Phage hunters could add to it and it would be made widely available.</p>&mdash; Steffanie Strathdee (@chngin_the_wrld) <a href="https://twitter.com/chngin_the_wrld/status/928396012233703425?ref_src=twsrc%5Etfw">November 8, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

 
After an impressive effort by Dr. Strathdee and her team to bring phages to 25-year-old Mallory Smith in time to treat her drug-resistant pneumonia, Mallory sadly passed away on November 15, 2017. Dr. Strathdee described her dream of an open source phage library to help patients like Mallory, and we wanted to step in to help.
 

#### A Community in Progress

This project is a passionate work in progress, but we’re working hard to get it where it needs to be. But to get this resource going, <strong>we will need your help:</strong>

__If you work with phages__, please [join our directory](https://goo.gl/forms/rKTYgG42c0LrPYcH2).

__If you need to find phages for a patient,__ please tweet us [@phagedirectory](https://twitter.com/phagedirectory) or email [staff@phage.directory](mailto:staff@phage.directory).

__If you want to hear about urgent requests__ [please sign up for alerts](https://tinyletter.com/phagedirectory/subscribe).
 

 
#### A Special Tribute to Mallory
 
Mallory’s story provided the impetus for the creation of The Phage Directory. Reading of her desperate need for phages and then seeing researchers actually being asked for these phages on Twitter in real time was jarring. It became clear that of all the obstacles standing between Mallory and a potentially life-saving treatment, an improved system of communication and collaboration was a problem we could start fixing right now.
 
Development of The Phage Directory commenced two days prior to Mallory’s passing. It is our hope that Mallory’s legacy will prompt the greater community of phage researchers, medical professionals, regulatory personnel and families of patients to take steps to connect with each other so we can bring effective phage treatment to as many patients as possible in times to come.
 
Mallory wrote the following article in October 2015, and we ask you to kindly read it as a call to action for all of us.

 
<div class="about-special _center" >

<h3 class="_padding-bottom-none" > 
  <a href="https://medium.com/@mallorybsmith/and-we-are-big-spoken-word-unspoken-39d112ea585b" target="_blank">And we are big (spoken word unspoken)</a>
</h3>
  <div class="about-special-by">by Mallory Smith</div>

</div>


</div>
</div>
</div>



<div class="fight-signup content">
<%= partial '/partials/signup' %>
</div>





