---
layout: layout-main
---



<div class="" >

<div class="content hero" >
    
  <%= partial '/partials/header' %>

  <div class="_vh-30 hero-section _align-vertically">
    <div class=" _align-bottom _border-none">
      <a class="hero-desc _border-none" href="about.html#mission">
        A public directory of phage researchers <br/>
        committed to fighting drug-resistant bacterial infections.
      </a>
      <!-- <div>
        <a class="hero-twitter _inline-block _padding-top-half _border-none" href="https://twitter.com/phagedirectory" target="_blank">@phagedirectory</a>
      </div> -->
    </div>
  </div>

  <p>Antibiotics are failing, and people are dying of drug-resistant infections.
  </p>
  <div class="hero-intro">
    <div>
      <p>Phage therapy treats infections with bacteria-killing viruses called bacteriophages, but the process is highly personalized and needs researchers, medical professionals, regulatory agencies and families to work together.
      </p>
      <p>The Phage Directory connects the right people to safely bring the right phages to <br /> the patients who need them.
      </p>
    </div>
    <div>
      — <a class="hero-twitter _inline-block _padding-top-half _border-none" href="https://twitter.com/phagedirectory" target="_blank">@phagedirectory</a>
    </div>
  </div>

</div>


<div class="content">
  <%= partial '/partials/alerts' %>
</div>


<div class="content">
  <div class="section _grid-1-5">

    <h6 class="">— media</h6>
    <div>
      <%= partial '/partials/media' %>
    </div>

  </div>
</div>


</div>

<%= partial '/partials/directory' %>



<!-- feed data -->
<!-- <script src="/data-feed.js"></script> -->
