---
layout: layout-main
---



<div class="" >

<div class="content hero" >
    
  <%= partial '/partials/header' %>

  <a href="about.html#mission" class="hero-desc _align-bottom _border-none">
    A public directory of phage research <br/>
    for fighting drug-resistant bacterial infections.
  </a>
  <a class="hero-twitter _inline-block _padding-top-half _border-none" href="https://twitter.com/phagedirectory" target="_blank">@phagedirectory</a>
</div>

<div class="content">
  <div class="section _grid-1-5">

    <h6 class="">— background</h6>
    <div>
      Antibiotics are failing, and people are dying of drug-resistant infections. Phage therapy is an emerging method of using bacteriophages (viruses that only kill bacteria) to treat these infections. The Phage Directory aims to connect the researchers who have phages with the patients who need them. <a href="about.html#background">more</a>
    </div>

  </div>
</div>

<div class="content">
  <%= partial '/partials/alerts' %>
</div>


<div class="content">
  <div class="section _grid-1-5">

    <h6 class="">— media</h6>
    <div>
      <%= partial '/partials/media' %>
    </div>

  </div>
</div>


</div>

<%= partial '/partials/directory' %>



<!-- feed data -->
<!-- <script src="/data-feed.js"></script> -->
