---
layout: layout-main
---



<div class="" >

<div class="content hero " >
    
  <%= partial '/partials/header', :locals => { :name => '' } %>


  <div class="_vh-25 hero-section _align-vertically _break-none-xs">
    <div class=" _align-bottom _border-none">
      <a class="hero-desc _border-none _break-none-xs" href="about.html">
        A directory of phage researchers <br/>
        <!-- against drug-resistant bacterial infections.  -->
        fighting antibiotic resistance with phages.
      </a>
    </div>
  </div>

  <div class="hero-intro">

    <p class="_font-large "><strong>Our antibiotics are failing.</strong> <br /> People are dying of drug-resistant infections.<br/>
    <span><strong class="hero-hope">But there is hope.</strong></span>
  </p>

  <script>
    $(window).ready(function() {
      $('.hero-hope').on('click',function() {
        $('.hero-passage').addClass('--appear');
      });
    })
  </script>
    
    <div class="hero-passage">
      <div>
        <p>Phage therapy—a way of treating infections with bacteria-killing viruses called bacteriophages—is difficult, personalized, and needs researchers, medical professionals, governments, and families to work together.
        </p>
        <p>The Phage Directory connects the right people to <br/>safely bring the right phages to <br /> patients who need them.
        </p>
      </div>
      <div>
        — <a class="hero-twitter _inline-block _padding-top-half _border-none" href="https://twitter.com/phagedirectory" target="_blank">@phagedirectory</a>
      </div>
    </div>
  </div>

</div>


<div class="content">
  <%= partial '/partials/alerts' %>
</div>


<div class="content">
  <div class="section _grid-1-5">

    <h6 class="">— media</h6>
    <div>
      <%= partial '/partials/media' %>
    </div>

  </div>
</div>


</div>

<%= partial '/partials/directory' %>



<!-- feed data -->
<!-- <script src="/data-feed.js"></script> -->
