---
layout: layout-main
---



<div class="content" markdown="1">

<div class="hero _vh-30" markdown="1">
    
  <%= partial '/partials/header' %>

  <a href="about.html#mission" class="hero-desc _align-bottom _border-none">
    A public directory of phage research <br/>
    for fighting drug-resistant diseases.
  </a>
</div>

<div class="section _grid-1-5">

<h6 class="">— background</h6>
<div markdown="1">
  Our first line of defense in fighting disease—antibiotics—is starting to fail, and people are getting sick and dying to previously treatable diseases. Phage therapy is an emerging method of using <a href="about.html#background">bacteriophages</a> to treat drug-resistant infections. 

  [comment on the hunt for phages]

  <a href="about.html#background">read more</a>
</div>

</div>


<div class="section _grid-1-5">

  <h6 class="">— media</h6>
  <div>
    <%= partial '/partials/media' %>
  </div>

</div>


</div>

<%= partial '/partials/directory' %>



<!-- feed data -->
<!-- <script src="/data-feed.js"></script> -->
