---
layout: layout-main
---



<summary class="_width-content-max-paragraph _padding-2" >

<div class="_center-margin _padding-2" markdown="1">

<%= partial '/partials/header' %>

<div class="section" markdown="1">
### Mission

<div class="profile-container _grid-cols-2">
  <div class="profile _card">
    <div class="profile-image">
      <img width="140" src="https://pbs.twimg.com/profile_images/634095676171816960/v2t4zcm5_400x400.jpg">
    </div>
    <div class="profile-name">
      <div>Jessica Sacher</div>
    </div>
    <div class="profile-contact">
      <div><a href="https://twitter.com/JessicaSacher" target="_blank">@JessicaSacher</a></div>
      <div><a href="mailto:sacher@ualberta.ca" target="_blank">sacher@ualberta.ca</a></div>
    </div>
    <div class="profile-description">
      I am a Microbiology and Biotechnology PhD student at the University of Alberta studying the interactions between bacteriophage receptor binding proteins and bacterial carbohydrates. While I am a graduate student of the University of Alberta, I currently work in Dr. Christine Szymanski's glycobiology lab at the Complex Carbohydrate Research Centre at the University of Georgia as an Exchange Scholar.
    </div>
  </div>

  <div class="profile _card">
    <div class="profile-image">
      
    </div>
    <div class="profile-description">
      Banana Two
    </div>
    <div class="profile-contact">
      <div>@janistanian</div>
    </div>
  </div>
</div>

</div>


</div>

</summary>