---
layout: layout-main
---


<div class="content _padding-bottom-2" markdown="1">

<%= partial '/partials/header' %>

</div>

<div class="_width-content-max-narrow _center-margin _padding-top-2 _padding-bottom-2" markdown="1">


#### Mission Statement

I first became fascinated with microbes following an inspiring lecture on fecal transplants in mice in 2008, which led me to pursue a PhD in Microbiology and Biotechnology at the University of Alberta in Edmonton, Canada. The major research question I’ve been pursuing since has asked how bacteriophages (or phages, for short) target and kill Campylobacter jejuni, a deadly bacterial pathogen that infects humans around the world. Along the way, I have realized just how important the answers to questions like these are to getting us closer to solving one of the most important health hurdles humans have faced to date: that of antimicrobial resistance and multidrug-resistant infections. I’m passionate not only about the idea that phages can be harnessed to treat these infections, but that we are closer than we think to making phage therapy an accessible and promising option for patients.
 
Hundreds of scientists around the world have been working tirelessly for decades to understand the ins and outs of how phages infect and kill bacteria, cataloguing new phages and characterizing their individual traits one by one. Though not yet part of mainstream medicine, we are collectively amassing data that supports a place for phage therapy in our modern world. However, in times of immediate need, many challenges hinder the efficient identification, generation and distribution of sufficient doses of effective therapeutic phages to patients and their physicians. Tackling this problem requires a streamlined, collective approach involving collaboration between scientists, medical professionals and regulatory bodies. By generating and maintaining an open public directory of researchers willing and able to test and mass-produce phages in response to a critically ill patient’s need, we can connect physicians, patients and families with lifesaving cures to the drug-resistant infections that escape medical intervention every year <%= partial '/partials/phage' %>

— Jessica Sacher <a class="_border-none" target="_blank" href="http://twitter.com/jessicasacher">@jessicasacher</a>

</div>